[2013-07-03 12:26] mitsuhiko opened #1 "Remove 2.4 and 2.5 Support"
Remove support for old Python versions and remove hacks previously in place for those.

[2013-07-03 12:26] mitsuhiko opened #2 "Add support for new Pluralization Rules"
The new CLDR dataset has more expressive pluralization rules than Babel currently supports.  Add support for those.

[2013-07-03 12:27] mitsuhiko opened #3 "Make it work with latest CLDR"
Make Babel work with the latest CLDR data sets.

[2013-07-03 12:27] mitsuhiko opened #4 "Add support for Python 3.3"
Babel should support Python 3.3.

[2013-07-03 12:27] mitsuhiko opened #5 "Port Documentation to Sphinx"
Make Babel docs available through Sphinx.

[2013-07-03 12:30] mitsuhiko opened #6 "Add Tox and Travis Support"
Make sure that babel tests through tox and travis.

[2013-07-03 13:10] lepture opened #7 "Change maintainers?"
I didn't see any topic in the [mail list](https://groups.google.com/forum/#!forum/python-babel), is this a really official repository?

[2013-07-04 10:06] #6 closed, assigned to nobody

[2013-07-04 13:26] #7 closed, assigned to nobody

[2013-07-04 13:29] mitsuhiko opened #10 "Convert Doctests to Unit Tests"
There are a ton of doctests and they are a pain to maintain (and further to port to Python 3). We should make them be actual unittests.

[2013-07-06 11:55] #2 closed, assigned to nobody

[2013-07-06 14:23] #10 closed, assigned to nobody

[2013-07-06 22:54] mitsuhiko opened #22 "Rewrite gettext support"
Right now the gettext module from the stdlib is used. This is nice in theory but it has one big problem: it's inconsistent to use between 2.x and 3.x which makes it really bloody annoying to deal with.  I came across that when looking into some of the test failures.

I believe the best plan is to make `gettext` and `ugettext` do the same on 3.x and made a mode for 2.x to make `gettext` behave like

[2013-07-08 19:32] gthb opened #24 "babel.localedata.load("en") fails saying "No such file root.dat""
This:

[code]

fails with:

[code]

after either `python setup.py develop` or `python setup.py install` in a Python 2.7.5 virtualenv.

[2013-07-19 15:38] moraes opened #26 "PluralRule.parse() can't accept a dict"
From what I understand, the order of the rules defined in CLDR's plurals.xml matter. So the order must be maintained, and can't be sorted by the tag name. See the example here:

http://unicode.org/reports/tr35/tr35-numbers.html#Language_Plural_Rules

Specially this part: "Also note that a modulus is applied to n in the last rule, thus its condition holds for 119, 219, 319...". This means that the

[2013-07-22 20:28] nickretallack opened #27 "Pofile parser can't handle multi-line obsolete IDs or Strings"
Any multi-line obsolete message just comes out as "".

It should be obvious why, when you look at [this line](https://github.com/mitsuhiko/babel/blob/master/babel/messages/pofile.py#L222).  Every line of an obsolete string begins with a #, but every time the script sees a # it throws away all its state variables assuming it is probably starting a new message now, or accumulating occurrences and co

[2013-07-22 21:06] nickretallack opened #28 "Update Catalog always discards old obsolete strings."
If you have a *.po file with some obsolete messages in it and you run the update_catalog command, no matter what options you pass, those obsolete messages will go away.  It's really misleading that options like "--previous" and "--ignore_obsolete" exist if they don't preserve your obsolete messages.

I've isolated the problem.  It is [this line](https://github.com/mitsuhiko/babel/blob/master/babel

[2013-07-24 09:37] #28 closed, assigned to nobody

[2013-07-24 09:38] #24 closed, assigned to nobody

[2013-07-24 09:43] #4 closed, assigned to nobody

[2013-07-24 09:43] #1 closed, assigned to nobody

[2013-07-24 09:43] #3 closed, assigned to nobody

[2013-07-24 09:44] #5 closed, assigned to nobody

[2013-07-24 09:46] #26 closed, assigned to nobody

[2013-07-25 07:00] mitsuhiko opened #30 "Babel needs to support Fuzzy Locales"
Right now Babel only supports a locale if there is a .xml file for it in the CLDR. This is questionable since certain locales just don't have data but need to be differentiated.  Right now this for instance practically affects all variants.

You cannot create a de_DE_1999 even though that is a valid and useful locale.  The way ICU deals with this is that it allows a locale object to always be gene

[2013-07-25 07:03] mitsuhiko opened #31 "Make Locale objects immutable"
Currently babel creates locale objects left and right.  That's pretty pointless and the better idea would be to cache them through the metaclass and perform some locking there.  This should also make `Locale.parse` a bit faster for the common case.

In addition to that we should probably add a `get_locale` function that is an alias for `Locale.parse` which has been the preferred interface for a re

[2013-07-27 01:37] fungi opened #32 "specify a minimum pytz version"
Babel 1.0 depends on pytz without specifying a minimum version. Pytz uses date-based versioning with letters. Pip 1.4 sees all version strings containing letters as prereleases and will not install them without being asked to do so. The upshot of this is that installing latest Babel with latest pip fails unless any version of pytz is manually installed first.

One common way to work around this is

[2013-07-27 09:51] #32 closed, assigned to nobody

[2013-07-27 19:48] wichert opened #34 "python-format regexp is incorrect"
Copied from [old ticket 319](http://babel.edgewall.org/ticket/319).

The regular expression used to check if something is a python-format string is not correct: it thinks the sentence "This is a text about 50% of all users" is a python-format string which is not true.

It also fails to identify new-style python format strings using the curly-brace style notation used by string.format().

[2013-07-27 19:51] wichert opened #35 "python-format flag incorrectly forced on all extractors"
This is a copy of [old ticket 318](http://babel.edgewall.org/ticket/318).

During extraction the results from an extractor plugin are used to create a message which is then added to the catalog. When the Message instance is created it can set the `python-format` flag if the text matches a specific regular expression. That means that a text like this:

[code]

will be flagged as a python-format str

[2013-07-27 19:53] wichert opened #36 "auto_comments lost when updating a message"
This is a copy of [old ticket 228](http://babel.edgewall.org/ticket/228).

I have some utilities which convert po files to xls and back again. I noticed that when merging translations from the xls file into the catalog parts of the auto comments are lost. Our comments tend to be very long (5-15 lines of text), but definitely important.

I can reproduce this with a simple bit of code:

[code]

If I

[2013-07-27 20:49] #34 closed, assigned to nobody

[2013-07-28 12:28] jun66j5 opened #37 "Babel 1.0+ doesn't support `zh_CN`"
Babel 1.0+ currently doesn't accept `zh_CN`. But Trac requires the locale. Probably, the other applications require it. See http://trac.edgewall.org/ticket/11258.

Also, Trac expects `str(Locale.parse('zh_TW'))` is `'zh_TW'`. However, Babel 1.0+ automatically expands to `'zh_Hant_TW'`.

[2013-07-28 21:01] #37 closed, assigned to nobody

[2013-07-28 21:10] mitsuhiko opened #38 "Subtag Expansion does not tag Defaults into Account"
#37 shows up a bug that is related to how subtags are expanded in our very basic implementation.  Essentially locales that are only defined through the language (like `zh_CN`) do not expand.

This is problematic because some of the most common locales are affected by this.

[2013-07-28 21:15] #38 closed, assigned to nobody

[2013-07-28 21:28] mitsuhiko opened #39 "Remove Locale Aliases"
Babel currently has a manually maintained list of locale aliases.  This is inconsistently used throughout the system.  For instance `negotiate_locale` will expand `de` to `de_DE` but few other functions are doing that.

The correct new solution through the CLDR would be to remove the alias map entirely and perform likely subtag expansion.  Because those would not expand `de` to `de_DE` a new param

[2013-07-28 23:24] cprcrack opened #40 "pybabel extract --no-wrap feature doesn't work (pybabel 1.2)"
Using _--no-wrap_ on the pybabel command line tool doesn't seem to work. My _msgstr_ strings in the _messages.po_ files are split into several lines. _--width_ also seems to be omitted, because I tried using a width such as 10000 without any difference.

Example command:

[code]

[2013-07-29 09:25] #40 closed, assigned to nobody

[2013-07-29 12:10] SimonSapin opened #41 "Issues on the edgewall.org tracker"
The previous tracker has tons of open issues: http://babel.edgewall.org/query
Are they still relevant? Should they be migrated?

[2013-07-29 14:02] #41 closed, assigned to nobody

[2013-07-29 21:05] scottybarr opened #42 "Please add support for Territory -> Currency mapping"
Hi,

It would be great if babel could support territory -> currency mapping as detailed at: http://unicode.org/cldr/charts/supplemental/detailed_territory_currency_information.html

Supported currencies per territory and historical territory currency data is contained within supplementalData.xml

Many Thanks,
Scott

[2013-07-30 00:15] #42 closed, assigned to nobody

[2013-07-31 16:51] mindw opened #43 "cldr cannot be built without global.dat present"
Specifically:

[code]

[2013-07-31 20:50] #43 closed, assigned to nobody

[2013-08-02 10:55] mitsuhiko opened #44 "Outdated Command Line Interface Docs"
The documentation for the command line interface is heavily outdated.  It comes from a copy paste at one point but it really should be extracted from the API.

See also #40.

[2013-08-07 23:35] Arfrever opened #45 "Test failures with non-English locales"
There are some test failures with non-English locales. I use Babel 1.3.
The following output is with pl_PL.UTF-8 locale:

[code]

[2013-08-08 00:26] Arfrever opened #46 "Test failures with Jython"
Jython does not support "utf_8" encoding in header comment in source code, but supports "utf-8":

[code]

This patch fixes Jython-specific test failures:

[code]

[2013-08-13 10:17] joernhees opened #47 "accessing data files at runtime with pkg_resources"
It seems data files (CLDR) are currently accessed with a plain `open()`.
This assumes the library is not bundled later on (e.g., into a packages.zip as recommended on appengine or an egg).

http://pythonhosted.org/setuptools/setuptools.html#accessing-data-files-at-runtime suggests to access data files at runtime using `pkg_resources`.

[2013-08-20 14:36] graffic opened #49 "parse_encoding forced encoding crashes with UnicodeEncodeError"
I've seen in this commit: https://github.com/mitsuhiko/babel/commit/48cba25f2c662c76797282c6c823ef18a387d07a some Python 3 support changes.

But in `util.py` I've found those changes a bit problematic. Let me show you one change there:

[code]

This expects the first line to be decodeable with latin-1. But It might raise a UnicodeEncodeError if it cannot be decoded.

May be the code should check f

[2013-08-21 07:50] #49 closed, assigned to nobody

[2013-08-22 14:38] joshuaboshi opened #50 "Python 3 support?"
Hi!

There is python 3 support declared on pypi, but when I tried to install Babel today in virtualenv with python 3.2 using pip, it was not working.
Syntax errors during installation and same for importing the package.

In babel's documentation I haven't found anything regarding python 3 support.

Does this mean, that flag in pypi is incorrect?

Thanks,
Josh

[2013-08-22 15:45] #50 closed, assigned to nobody

[2013-08-23 08:35] djc opened #51 "Trac-1.0.1 I18nDateFormatTestCase tests fail with >=Babel-1.0"
These work for me with 0.9.6.

[code]

[2013-09-03 15:31] mrtopf opened #53 "messages not extracted from folders starting with _ or ."
Unfortunately I have folders like _m containing templates I would like to be translated. Right now pybabel is ignoring those. I can patch this but was wondering if there is a known reason for this before doing so.

[2013-09-15 05:41] icarito opened #55 "Allow some form of Babel supplied locales if not supplied by CLDR"
From http://babel.edgewall.org/ticket/258:
"If CLDR does not provide some locale, e.g. Asturian (#254), then we should provide a mechanism that allows the locale identifier to be used as well as to be overriden with user data to support said locale."

In my case, I'm trying to add support for Aymara, which locales were recently submitted to GLIBC for inclusion ( http://sourceware.org/bugzilla/show

[2013-09-15 20:56] Ivoz opened #56 "Babel unable to parse sphinx-generated pot"
I am using Babel==1.3 and Sphinx==1.1.3.

I use `sphinx-build -b gettext` to generate pot files.

You can see an example pot generated [here](https://gist.github.com/Ivoz/6574219)

I attempt to initialize a po file for this template:

[code]

And I get this error:

[code]

[2013-09-20 20:05] wRAR opened #57 "default_locale() fails on 'C.UTF-8'"
`babel.core.default_locale` doesn't handle 'C.UTF-8' as a special case and `parse_locale('C.UTF-8')` returns `('c', None, None, None)` which breaks things.

[2013-09-21 19:54] phantomii opened #58 "The function get_display_name doesn't work on python3.2"
Because https://github.com/mitsuhiko/babel/blob/master/babel/core.py#L371

[code]

[2013-09-21 20:03] #58 closed, assigned to nobody

[2013-10-08 17:06] bsimpson63 opened #60 "Not all locales have plural_form"
`get_currency_name` and `format_timedelta` assume that `plural_form` exists:

[code]

[code]

[2013-10-17 11:11] glixx opened #63 "To add ca_VALENCIA.dat"
ca_VALENCIA.dat is here: https://www.dropbox.com/sh/p138bff6j8l8mwn/Sv0ckU8ACY

[2013-10-25 15:44] #63 closed, assigned to nobody

[2013-11-20 18:20] mitsuhiko opened #67 "Add Support for CLDR 24 Pluralization Rules"
CLDR completely changed how it handles pluralization in 24.  The following big questions are raised by it:

- do we support old ones still?
- how is this supposed to work, why does german have an other rule now? Knock-on effects for users
- can we fudge the old behavior somehow?
- what are the changes of supporting decimal places for the API?

http://www.unicode.org/reports/tr35/tr35-numbers.html#

[2013-11-28 11:23] masklinn opened #69 "Locales lacking pluralisation rules?"
Pluralisation rules are implicitly used by a number of babel operations, but there seem to be locales which have no pluralisation rules at all.

As a result, these error out when using any babel operation needing plural rules e.g.

[code]

In CLDR23 (and babel) there are locales which have "empty" pluralisation rules (an empty `pluralRules` tag in CLDR data, a `PluralRule([])` in Babel). I think i

[2013-11-29 09:10] rjollos opened #70 "Python version check in setup.py"
Trac uses Babel, and the latest version of Trac supports Python 2.5. For a Trac instance running Python <= 2.5, a [messy traceback](http://trac.edgewall.org/ticket/11258#comment:11) can result from installing Babel. Would you be willing to add a Python version check in setup,py, as shown [here](http://trac.edgewall.org/ticket/11258#comment:12)?

[2013-11-30 20:14] jacobsvante opened #71 "babel.cfg keywords?"
I'm finding it hard to locate documentation on how to specify keywords in my `babel.cfg`. I have a config file that looks like this:

[code]

All messages are extracted as expected except javascript. I've tried just setting one keyword in the config, changing the key from `keywords` to `extract_messages`, and `keyword` but none seem to work. I've checked what keywords get passed to `babel.messages

[2013-11-30 20:22] jacobsvante opened #72 "Extractor: Support translation string not being the first argument"
I'm working on a project using [jed](http://slexaxton.github.io/Jed/) for translating strings in my javascript. Its `ifPlural` function takes the translation string as its second argument. Would it be possible to support this? One could make the lexer check for the first argument that is a string, but that feels kinda guess:y. Perhaps a better way would be to add new syntax like this:

[code]

Whe

[2013-12-11 15:03] graingert opened #74 "Would you guys like to take ownership of django-babel"
I've ported BabelDjango to github:

https://github.com/graingert/django-babel

Would you guys like to take over ownership?

[2014-01-06 19:24] #69 closed, assigned to nobody

[2014-01-06 19:29] #60 closed, assigned to nobody

[2014-01-06 19:58] #56 closed, assigned to nobody

[2014-01-06 20:18] #51 closed, assigned to nobody

[2014-01-06 21:13] #45 closed, assigned to nobody

[2014-01-06 21:16] #46 closed, assigned to nobody

[2014-01-06 22:09] Arfrever opened #75 "Test failure with enabled warnings"
1 test fails when warnings are enabled (using e.g. PYTHONWARNINGS="d" environmental variable).

[code]

[2014-01-07 06:17] #75 closed, assigned to nobody

[2014-01-08 11:27] #57 closed, assigned to nobody

[2014-01-18 11:29] jrfern opened #76 "Please support 'Language' header field of PO files"
First of all my apologies, I'm neither a developer nor a native speaker of English, please excuse all the inaccuracies below.

In our project exelearning.net we use pybabel. I'm the coordinator of the translation teams, and some months ago found out that msgfmt had started producing warnings that a header field was missing in our PO files (see bug ticket https://forja.cenatic.es/tracker/?func=deta

[2014-01-23 10:08] lelit opened #77 "Order also the locations in the message header with --sort-output"
I have recently started using `--sort-output`, to be nice with the version control tool.

I notice that the list of locations in the header of each message is not sorted, and seems not "stable", that is, from one `pybabel update` execution to the next the order may vary, resulting in pointless changes in the VC, for example:

[code]

I think it would be reasonable to assume that when `--sort-outpu

[2014-01-23 17:12] rightfold opened #78 "Unicode bug on Windows"
After compiling a PO file with pybabel, ü appears as Ã¼ in the MO file. It also appears in the PO file again after updating.

The PO file before compiling and updating:

[code]

The commands executed:

[code]

The same PO file after executing these commands:

[code]

I'm using pybabel-script.py 1.3 with Python 3.3.2 on Windows 7 64-bit. I have no idea where the source of the problem lies. Any help

[2014-02-07 13:49] zyga opened #79 "wrong python3 conversion in pofile.py:431 in write_po()"
This is occuring on Ubuntu 14.04 with python3-babel 1.3+dfsg.1-2ubuntu1

Traceback (most recent call last):
  File "./setup.py", line 76, in <module>
    include_package_data=True)
  File "/usr/lib/python3.3/distutils/core.py", line 148, in setup
    dist.run_commands()
  File "/usr/lib/python3.3/distutils/dist.py", line 930, in run_commands
    self.run_command(cmd)
  File "/usr/lib/python3.3/dis

[2014-02-17 22:24] jenisys opened #81 "babel/dates.py: Accesses date.minute attribute (by expecting datetime object)"
Potential problem in: babel/dates.py
While using tinkerer 1.3 (which requires Babel (1.3)), I stumbled over the following problem. After looking at the code, I believe that the problem is in Babel, not in tinkerer.
Tinkerer uses "format_date()" which expects a "datatime.date". Somehow this expectation is violated within the "babel.dates" module that afterwards expects a "datetime" object and runs

[2014-02-22 00:15] rjollos opened #82 "Allow header_comment to be passed as an option to extract_message"
In Trac and Apache Bloodhound we utilize [babel.extract_messages](http://babel.readthedocs.org/en/stable/setup.html#extract-messages). For Apache Bloodhound, we'd like to be able to specify the [header_comment](http://babel.readthedocs.org/en/stable/api/messages/catalog.html#babel.messages.catalog.Catalog.header_comment) parameter when creating the Catalog. We would like to add `header_comment` as

[2014-02-28 00:33] olipeno opened #83 "Babel does not support Kurdish locale 'ku'"
I am working on internationalization and need to support Kurdish language.

but when i run the following command to generate .po file for ku, I get the following error:

python setup.py init_catalog -l ku
running init_catalog
error: unknown locale 'ku'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/webapp/responseweb/local/lib/python2.7/site-packages/Babel-1

[2014-03-20 16:13] MarcelloPerathoner opened #87 "Crash with bogus locale identifier"
I know it is bogus, but that's what you get in the wild.

[code]

[code]

python 3.3.5 babel 1.3

[2014-03-28 15:24] nemobis opened #89 "Implement confusable detection"
It would be very useful if the library provided checks for confusable strings/characters, per http://www.unicode.org/reports/tr39/#Confusable_Detection
In particular, it would be useful to tell whether two input strings are single-script, mixed-script or  whole-script confusable; and whether a single input string contains characters that make it potentially single-script confusable, i.e. any chara

[2014-03-31 22:39] #47 closed, assigned to nobody

[2014-04-24 12:56] kdeldycke opened #90 "Bypass number rounding"
`babel.numbers.format_decimal()` and `babel.numbers.format_currency()` have a built-in banker rounding implemented. See: https://github.com/python-babel/babel/blob/3ec7bb104e808d1fda16fbf9fec4b9d7efccaa3f/babel/numbers.py#L648-L649

If we need to localize numbers without rounding, we can't use these methods.

The minimal default decimal precision per method are:

  * `babel.numbers.format_decimal(

[2014-04-27 15:24] williamwu0220 opened #91 "TypeError while executing 'pybabel update ...' in Python 3.x"
I installed babel in Python 3.4.0 env, and babel cannot work while using update sub-command as follows:

[code]

My env:
python: 3.4.0
os: Debian Wheezy
Babel: 1.3

[2014-05-06 16:12] m3dwards opened #93 "jinja2 tags in template file breaks pybabel extraction"
Putting either {% %} or {% formfill form_data with errors %} in a jijnja2 template file breaks pybabel extraction. Removing those from a template file and the extration works as expected.

Steps to recreate:

Create a template file that looks like

[code]

and then run pybabel extract on it. Home will not be extracted.

If you remove the {% %} from the file it will work.

[2014-05-06 16:28] #93 closed, assigned to nobody

[2014-05-22 22:47] chronossc opened #97 "es_MX/MXN: format_currency using comma instead dot for decimal separator"
Hello. I did various tests and found that format_currency is formatting MXN currency (from Mexico, es_MX locale) wrong. There is a small code that compare it to python locale, that use posix data:

[code]
In my tests I updated CLDR data, from 23.1 to 25 and same issue happens.

This can be a issue in CLDR data?

[2014-05-29 05:48] hanteng opened #99 "Any plan to load the latest version of CLDR?"
Any plan to load the latest version of CLDR? I have tried to modified the code to load the CLDR 25, with only some limited success. Pluralization rules appear to need more work to digest the CLDR 25.

[2014-07-08 23:01] srl295 opened #104 "CLDR import issue"
Hello! I haven't looked into Babel for a few years, quite impressive changes.   I will add it to http://cldr.unicode.org

I noticed on -  https://github.com/mitsuhiko/babel/blob/master/scripts/import_cldr.py#L124 that `import_cldr.py` has hard coded file paths. Please don't assume certain file paths, they can and will change.

Please note for example http://unicode.org/repos/cldr/trunk/specs/ldml/

[2014-07-13 18:56] hjuergs opened #105 "pybabel not running - collections missing (Windows system)"
Hope I'm correct psoting this issue here....
Babel 1.3 is not running
After installing under windows, python 2.5. I receive an error trying to execute pybabel
Error:
c:\Trac\Source\Trac-1.0.1>pybabel --version
Traceback (most recent call last):
  File "C:\Python25\Scripts\pybabel-script.py", line 8, in <module>
    load_entry_point('Babel==1.3', 'console_scripts', 'pybabel')()
  File "C:\Python25\

[2014-07-24 11:26] nijel opened #106 "Broken testsuite"
The Babel testsuite (and maybe the code as well, I did not check) is broken as it uses pytz API which is documented not to work. In short pytz timezones should not be used as tzinfo parameter to date/datetime functions, but rather the localize method should be used. See https://bugs.launchpad.net/pytz/+bug/1324158 for pytz bugreports and note in pytz documentation: http://pythonhosted.org//pytz/#i

[2014-07-29 19:42] oakes opened #107 "format_timedelta throws a KeyError for the Esperanto locale"
With version 1.3, I have the following code:

    format_timedelta(dt - utcnow(), add_direction=True, locale=loc)

When `loc` is "eo", I get the following error:

    Traceback (most recent call last):
      File "/<snip>/www.gittip.com/env/local/lib/python2.7/site-packages/algorithm.py", line 288, in run
        new_state = function(**deps.as_kwargs)
      File "/<snip>/www.gittip.com/env/local/l

[2014-08-31 22:56] mj1856 opened #108 "Outdated docs for time zones"
The docs [here](http://babel.pocoo.org/docs/dates/) show the sample:

[code]
But the current code returns `"hora da Europa Central"`.  I assume that's because you're now resolving the time zone to the metazone and giving the translation for the metazone name.  That's fine, but the docs need to be updated.  Thanks.

[2014-09-03 05:11] quinox opened #109 "ImportWarning: Not importing directory '.../babel/localedata': missing __init__.py"
(This is the same as [#156](http://babel.edgewall.org/ticket/156) from the old tracker.)

Babel shows an import-warning when you've configured your warning settings. It can be fixed by renaming the folder ''localedata'' or renaming the file ''localedata.py'', this way the code is explicit in what to import.

To reproduce:

[code]

[2014-09-15 23:59] chronossc opened #111 "format_datetime returns wrong date format for Panama"
Glibc and Wikipedia tell me that Panama has DD/MM/YYYY date format while babel returns dates in MM/DD/YYYY. This can be reproduced all times.

[2014-10-09 16:10] salimfadhley opened #113 ""The babel data files are not available" error on windows platforms"
I'm getting the following crash when running sphinx on Windows - this is using Babel 1.3. You get the same error regardless of whether easy_install or pip was used to install the project.

It's really easy to reproduce:
1. Install babel (pip or setuptools)
2. Install sphinx
3. Try to build your docs
4. Observe error

FYI, I'm running Python 2.7.3 on Windows Server (32bit)

D:\Apps\Jenkins\workspac

[2014-11-04 11:31] techtonik opened #115 "Document if language identifiers in Local are case sensitive"
I could not find if `language` name supplied to `Locale()` constructor is case sensitive. There is no format on language identifiers neither at http://babel.pocoo.org/docs/locale/ nor at http://babel.pocoo.org/docs/api/core/#babel.core.Locale

Got this problem at gratipay/gratipay.com#2890

[2014-11-10 07:23] georgthegreat opened #118 "Wrong pofile syntax leads to IndexError"
If `translations` list is empty in https://github.com/mitsuhiko/babel/blob/master/babel/messages/pofile.py at line 152 (this could happen due to invalid pofile syntax, i. e. `msgstd` typed instad of `msgstr`), an `IndexError` with stupid message is being raised.
It seems to be a good practice to raise a proper exception instead. I can send a pull request, but I'm not sure about the error handling

[2014-11-19 15:42] abdelouahabb opened #121 "supporting a new locale?"
can i get the support of `kab_DZ` because algeria does support other language than `arabic`
http://www.localeplanet.com/icu/kab-DZ/index.html

[2014-11-25 09:43] rbu opened #124 "Excluding files from message extraction is under-documented (ignore)"
I was trying to exclude a folder from message extraction through an ignore rule in the mapping file, and ended up having to read the source code to find out how to do it. Some of the questions that are not answered in the documentation are:
- How to specify the ignore filter (A: [ignore: something/**.txt])
- How does Babel evaluate the priority in the mapping? (A: By first match, so ignore rules n

[2014-11-25 09:50] rbu opened #125 "Message extraction mapping does not match against package name"
Given the following setup.cfg:

[code]

And the following babel.cfg:

[code]

I was trying to exclude any files in awesomepackage/contrib. Unfortunately, this does not work because (contrary to intuition), "awesomepackage" is not included in the string to be matched. This is even though code _outside_ of "./awesomepackage/" is also extracted from and the patch written to the awesomepackage.pot fil

[2014-12-04 23:37] collenjones opened #126 "support.Translations.load to load exact match"
I have 'es_ES' translations (incomplete) and 'es' translations are complete. For the 'es' locale, we want to load the 'es' translations but gettext.find() is returning 'es_ES' as it's the first match.

We should be loading the exact match, not the first one.

[2014-12-11 09:06] rbu opened #128 "API Docs: Catalog -> Message mapping not documented"
The `Catalog` API docs mention nowhere how one would get a list of all messages. Apparently, `__iter__` is supported. Is that part of the official API? It would be nice if this were mentioned somehwere.

[2014-12-11 10:16] Kris2k opened #129 "When using format_datetime function I am unable to get same results as strftime"
I was unable to get UTC 'timezone' printed using Z or z when using format_datetime function. Here is sample code that shows what I mean.

[code]

outputs:
2013-06-17 12:44:18 +0000 +0000
2013-06-17 12:44:18 +0000 UTC
on my system.

[2014-12-13 05:11] amcgregor opened #130 "Babel on pypy3 throws fatal RPython error when byte-compiling catalog.py."
Howdy!

I have a test suite I'd like to get running on pypy3, but alas, this issue is preventing me.

Output of `pip install babel` in a venv:

[code]

[Edit: trimmed.  Sorry 'bout that!]

[2014-12-13 05:23] #130 closed, assigned to nobody

[2015-01-04 09:37] Changaco opened #132 "format functions fail on infinity"
[code]

[2015-01-08 12:55] benselme opened #133 "Tests failure with newer pytz versions"
Three tests fail with versions of pytz>=2014.4

From the [pytz docs](http://pytz.sourceforge.net/#localized-times-and-date-arithmetic):

    Unfortunately using the tzinfo argument of the standard datetime constructors
    ‘’does not work’’ with pytz for many timezones.

So I think that the way those tests are written is broken.

    =================================== FAILURES ===================

[2015-01-08 14:57] benselme commented on #133
Dupe of #106

[2015-01-08 14:57] #133 closed

[2015-01-08 14:58] benselme commented on #106
Dupe of #133, fixed by #134

[2015-01-09 20:54] benselme commented on #99
See #135 for preliminary cldr-24 support.

[2015-01-09 22:27] srl295 commented on #99
@benselme It's a good improvement,  CLDR 26 was released in August, 2014 for what it's worth. Please make use of resources such as the [cldr-users](http://www.unicode.org/consortium/distlist-cldr-users.html) list and the bug tracker on http://cldr.unicode.org/

[2015-01-09 22:57] benselme commented on #99
My plan is to incrementally get to the latest version.

[2015-01-10 01:06] srl295 commented on #99
@benselme makes sense.

[2015-01-12 17:08] tko opened #137 "format_timedelta throws / default_locale('LC_CTIME') is None with POSIX locale"
[code]
[code]

This happens when no locale related environment variables are set, e.g.
[code]

[2015-01-13 07:14] stephanamann opened #138 "Wrong format for January in non-en_US locale"
Using Babel 1.3 and Python 2.7 on Linux:
[code]

[2015-01-13 10:13] stephanamann commented on #138
The problem seems to be the following code:
[code]
I don't see the reason to change the year for the first days in the year (i.e. 2016-01-01). The correct code should read:
[code]

[2015-01-13 16:57] benselme commented on #87
Works as expected in master.

[2015-01-13 17:17] benselme commented on #138
This actually works as intended. Y is "week year".
See http://babel.pocoo.org/docs/dates/?highlight=format_date#date-fields and http://docs.oracle.com/javase/7/docs/api/java/util/GregorianCalendar.html#week_year

Using 'MMMM yyyy' will give you the result you expect.

[2015-01-13 19:05] stephanamann commented on #138
Embarassing ... Sorry, stopped reading too early.

Think you very much!
Stephan Amann

[2015-01-14 07:24] #138 closed

[2015-01-14 18:43] benselme commented on #132
The data is imported from the language files as 'number_symbols', but infinity is not handled.

[2015-01-15 14:01] benselme commented on #39
The language matching process is described here: http://www.unicode.org/reports/tr35/#LanguageMatching . It uses likely subtags and languageMatching data (found in supplemental/languageInfo.xml).
In ICU4J it's implemented in http://source.icu-project.org/repos/icu/icu4j/trunk/main/classes/core/src/com/ibm/icu/util/LocaleMatcher.java
If anyone's interested I already have some work done on likely su

[2015-01-16 22:57] achuinard opened #139 "format_currency with Japanese JPY does not shave decimals"
It is to my understanding that the Japanese Yen (JPY) does not use decimal places. Therefore, I'd say if I passed in a decimal to format_currency, and used ja_JP for the locale as well as JPY for the currency, I should get that decimal rounded.

Am I doing something wrong?

[2015-01-16 23:20] benselme commented on #139
You aren't doing anything wrong but this is not supported yet as far as I can tell.

Proper support for this would mean extracting currencyData/fractions data in CLDR's `supplementalData.xml` and then using it in `format_currency`.

[2015-01-16 23:41] benselme commented on #137
Confirmed. We should certainly fallback on something. Possibly the root locale.

[2015-01-17 20:51] achuinard commented on #139
If you could point me into where to start / look in the code and integrate this, I think I'll fork it and give it a try.

[2015-01-17 21:26] benselme commented on #139
Sure. The first step would be to import the data from the CLDR file. This happens in `scripts/import_cldr.py`. You'll need to understand what the data in the xml file means exactly, the specs for these elements are located here: http://www.unicode.org/reports/tr35/tr35-37/tr35-numbers.html#Supplemental_Currency_Data
Once you have imported the data, it's accessible through the `get_global` function

[2015-01-18 14:47] benselme commented on #139
Looks like some work was done in #120 but then the author closed the PR.

[2015-01-18 17:18] achuinard commented on #139
I'm a little discouraged from doing the work as it seems the project has been almost abandoned by the mitsuhiko. Why would a pull request like that just be 'closed'?

[2015-01-18 23:24] benselme commented on #139
FWIW #120 was closed by its own author.

But it's true that there hasn't been much activity recently and that PR and issues are piling up. I'm using my own fork in the meantime...

[2015-02-10 09:51] slachinger opened #141 "Allow parsing of symbols to get to currency code."
Babel allows to "speak" any locale but no to understand other locales.

Similar to get_currency_name() and get_currency_symbol() from the currency code, there should be a method allowing to get the currency code from the symbol, e.g.
[code]
Even better would be a reverse method to format_currency(), e.g.
[code]
I see that "Locale.parse(locale).currency_symbols" already contains the required mappin

[2015-02-16 01:47] prophile opened #142 "Include wheels on the PyPI release"
It would be great if Babel included wheels on the PyPI release as well as the source distribution.

[2015-02-17 07:05] williamwu0220 commented on #91
Looks like this issue had been solved in master branch. Will there be any release plan in the near future? Or should we need to fork this project to make that happen? Please... :(

[2015-02-27 20:56] nathansobo opened #144 "Make JSX compilation play nicely with alternative virtual DOM libraries"
Fueled by the success of React, several alternative virtual DOM implementations such as [Riot](https://muut.com/riotjs/), [Mithril](http://lhorie.github.io/mithril/), [Mercury](https://github.com/Raynos/mercury), and [virtual-dom](https://github.com/Matt-Esch/virtual-dom).

Atom [recently integrated Babel into core](http://blog.atom.io/2015/02/04/built-in-6to5.html), and one of our major goals wit

[2015-02-27 20:58] nathansobo commented on #144
Wow, sorry, I feel dumb. Wrong project!

[2015-02-27 20:58] #144 closed

[2015-03-03 23:24] thanatos commented on #76
Yes please? I've been using Babel to see if it can help do translation for us, and it'd be great if `read_po`, if it encountered a `Language` MIME header, used that to set the `locale` attribute on the returned `Catalog` objects.

Presently, Babel doesn't even expose this header even through `mime_headers`: if you read in a PO file with that header, it just gets lost.

[2015-03-04 12:24] sh4nks opened #145 "Can't merge 2 message catalogs with python3"
Hey!

I just found a bug when merging two catalogs in python3.

You can even test it yourself in the terminal (it works with python2):
[code]
It will raise this error:
[code]

This is the output from my failed test:
[code]

[2015-03-04 12:37] sh4nks commented on #145
Oh, I haven't seen the PR which should fixes this https://github.com/mitsuhiko/babel/pull/92. Would be awesome if you could merge it :)

[2015-03-04 12:37] #145 closed

[2015-03-06 11:40] jrfern commented on #76
Great to see new interest in this quite old bug report (January 2014). During this time I've learnt to create pull requests (clumsily, I'm afraid), and I created one yesterday (#147). Although the fix works locally (make downloads the cldr zip and all the tests pass), travis shows errors in files I haven't touched and the pull was not merged :-(

The reason? I still work in tag 1.3, for the 1.3 ve

[2015-03-06 12:05] benselme commented on #76
Hi, the tests fail because of a new pytz version. Fixed in #134 but hasn't been merged.

[2015-03-07 00:48] thanatos commented on #76
Oops! I wish I'd read your reply. I tried to add support myself, my work is [in my fork](https://github.com/mitsuhiko/babel/compare/master...thanatos:add-language-header-support?expand=1) just so people are aware of it. I wasn't entirely sure how much our use-cases overlapped, so I just made the modifications I thought I needed. I've not opened a PR yet; I think I'll try to see how much they diffe

[2015-03-07 12:58] jrfern commented on #76
As I'm not a programmer my PR is naïf: kept @pedropena's original patch, and just added the new header "Language" after all occurrences of "Language-Team", and gave it the value of the language part of that header. Make didn't complain about my changes.

But if @benselme is right, there's nothing we can do to have the merge accepted until the python-tz issue is fixed, amI right?

[2015-03-12 23:04] etanol commented on #139
I don't remember know if I explicitly closed the pull request or GitHub did it when I renamed the branch.  I normally use Mercurial so I have a very hard time tyring to work with Git and GitHub.

Anyhow, I keep working on [this branch](https://github.com/etanol/babel/tree/roiback) when I need some fixes or improvements.  For instance, these days I'm trying to improve the performance of the currenc

[2015-03-14 21:18] ThiefMaster opened #148 "Keywords containing dots never match in JS"
In our project we use `$t.gettext` in JavaScript files. However, `--no-default-keywords -k '$t.gettext'` results in an empty dictionary after extractions.

I believe this happens because the tokenizer only uses the `gettext` function name so the `$t.` is never part of it.

It would be nice if such cases were handled properly or if that's too complex, then defining a keyword containing a dot should

[2015-03-15 13:12] hobarrera opened #149 "Date format seems wrong for es_AR"
u'15/03/15'

Unlike abroad, the two-digit year format completely dissapeared in 1999. I've never, *ever* seen anyone use two digits for a year after the nineties. (I *have* heard the oral expresion `'99`, but only spoken).

This is just plain confusing to most Argentine people (I myself am was born and currently live in Argentina), and merely seeing this makes us assume it's a foreign format ("is

[2015-03-16 16:10] tewalds opened #150 "French dates should use "19h01" instead of "19:01""
The proper french way to show a time is "19h01" instead of "19:01" as it is now.

[2015-03-16 20:31] benselme commented on #150
Both "19:01" and "19h01" are acceptablem but  in different contexts. The former is recommended when displaying a time table for example.

The `format_time` function accepts a `format` parameter the default value of which is `'medium'`. You should get the format you want if you pass `format='full'`.

[2015-03-16 22:31] tewalds commented on #150
That doesn't seem to do it for me either:

n = datetime.datetime(2015, 3, 13, 16, 49, 9, 358524).replace(tzinfo=dates.get_timezone('Europe/Paris'))

dates.format_datetime(n, 'short', locale='fr') => '13/03/2015 16:49'
dates.format_datetime(n, 'medium', locale='fr') => '13 mars 2015 16:49:09'
dates.format_datetime(n, 'long', locale='fr') => '13 mars 2015 16:49:09 +0009'
dates.format_datetime(n, 'fu

[2015-03-23 12:29] auvipy opened #152 "Adding support for Bangla"
I would llike to know if bangla support is available in Babel? if not how can I work to add that and send a PR later?

[2015-03-23 15:24] torotil commented on #91
+1

[2015-03-25 06:46] auvipy commented on #152
do i have to submit the issue in mailing list?

[2015-03-25 11:54] benselme commented on #152
What is missing ? Bengla is in the CLDR, so it should already be supported in Babel. The locale is `bn`.
http://www.unicode.org/cldr/charts/27/summary/bn.html

[2015-03-25 12:30] auvipy commented on #152
thanks for informing! my unicode knowledge is not that good

[2015-03-27 15:58] tiborsimko commented on #76
Having `Language` header supported out of the box in Babel would be very good for compatibility with standard GNU gettext set of tools.  Currently one gets into the missing Language header very quickly:

[code]

This makes unnecessary warnings when editing PO files in tools like Emacs's po-mode...

[2015-04-01 21:18] remyroy opened #154 "Collation support"
Collation support would be nice for comparing and sorting text. For Unicode, there is the [Unicode collation algorithm (UCA)](http://en.wikipedia.org/wiki/Unicode_collation_algorithm). The UCA has a default collation element table which is locale independent but there are also other collation element tables that are customized for different locale. Those customized collation element tables are par

[2015-04-02 01:40] remyroy commented on #150
In the latest [CLDR release](http://cldr.unicode.org/index/downloads) (27.0.1), the various format patterns for displaying time use ":" as the hour and minutes separator. This is the case for the generic fr locale but also for the more specific fr_FR and fr_CA.

As a French Canadian, I have been used to using "h" as the hour and minutes separator which seems a little odd to me.

I've also checked

[2015-04-02 01:46] remyroy commented on #150
Just for fun, I went looking at pass releases of CLDR. I've checked version 1.1.1 which was released in 2004 and it seems like *that version* had format patterns that used "h" as the hours and minutes separator.

So this changed in the last 11 years.

I hate to say this but according to Unicode, ":" is the hours and minutes separator for French. This is not a bug and can be closed.

[2015-04-02 02:11] remyroy commented on #149
Babel uses data from the CLDR which is part of the Unicode body to format dates. It is the CLDR which provides format patterns which are then used to format dates using specific locales.

I downloaded the latest [CLDR release](http://cldr.unicode.org/index/downloads) (27.0.1) and checked the 'short' pattern for dates. Since the es_AR locale does not provide a specific version, it falls back on the

[2015-04-02 03:12] patch commented on #149
@hobarrera, you can file a ticket for the Unicode CLDR here: http://cldr.unicode.org/index/bug-reports

The locale data is continuously improved as bugs are reported (and many exist in such a large and complex data repository), new locales are added, new data types are supported, and the ways that people communicate within a country and/or language evolve over time. If you file a ticket, you have

[2015-04-02 04:24] remyroy commented on #150
If you truly believe "h" should be the separator for time patterns, I would invite you to join the Unicode body and take part in their effort to provide the best information possible. You can file a ticket for the Unicode CLDR here: http://cldr.unicode.org/index/bug-reports . You will have to provide good references in order to convince them.

Alternatively, you could use a custom format pattern.

[2015-04-02 19:52] remyroy commented on #154
I've started reading [the reference document for UCA](http://www.unicode.org/reports/tr10). I'm trying to figure out how much work would be involved to implement it. I might give it a go in my free time on my fork.

[2015-04-03 08:33] elatonsev opened #155 "Сompiling *.mo files ignoring untranslated strings"
It would be useful to add option to compile_catalog which avoid inclusion untranslated strings to *.mo file.
Something like use_fuzzy option for ignoring fuzzy translations.

It useful when you need made translations catalogs fallback - string that doesn’t translated in ukrainian catalog should be searched in russian catalog and than if it doesn’t translated will be returned itself in english.

No

[2015-04-05 18:10] roman-neuhauser opened #156 "tests broken regarding daylight saving time"
[code]

[2015-04-14 08:10] williamwu0220 commented on #91
I created a new project Py3Babel forked from Babel: https://github.com/williamwu0220/py3babel/
Patches welcome..

[2015-04-16 09:35] AlmogCohen opened #157 "Empty string should be translated to whatever translated and not the PO nonsense info"
I know that the GNU gettext is overriding whatever we think and just replace empty string with nonsense information. Its time to stop the crime! Its time that we can control the empty string!

Most likely, it will be just super convenient to translate empty strings to empty strings!

I just make gzilion of problems that empty string is translated to this weird PO information. Is anybody see any re

[2015-04-16 09:47] jun66j5 commented on #157
I don't want to change the behavior and break the compatibilities with gettext. Also, I use the behavior in http://trac-hacks.org/browser/tractimedeltaupdatorplugin/0.12/tractimedeltaupdator/web_ui.py?rev=12076&marks=142#L136.

[2015-04-16 09:55] AlmogCohen commented on #157
:cry:
I don't really get what did you meant by the behavior you linked to. Can you please elaborate more?

[2015-04-16 11:05] jun66j5 commented on #157
That code is a part of [my Trac plugin](http://trac-hacks.org/wiki/TracTimeDeltaUpdatorPlugin), which updates automatically relative time displays by javascript in Trac. To implement auto-updating feature, the plugin retrieves `nplural` value and `plural` expression in `Plural-Forms` header to user's preferred locale.

[2015-04-16 20:05] rtxanson commented on #39
Having full support for BCP47 or something of the like would be great. I'm now running into an issue where I need to mark orthographic variants on a language, and cannot with babel unless I choose to use invalid codes. In this case, working on getting multiple orthographies for Plains Cree in an app, so I might need `crk-x-syllabics` vs `crk-x-latin`, and such. This also applies to some majority l

[2015-04-17 13:00] AnderUstarroz commented on #91
After your fix is it still compatible with Python 2? If that's the case I think you should make a pull request to merge it at some stage with the master branch. There is no point of having many developments in parallel.

[2015-04-24 19:52] rasca commented on #109
+1 same happens here

[2015-04-27 04:08] alissonperez commented on #91
+1. Make a release, please!!

[2015-04-29 10:04] andrewdiamond commented on #53
Also have same problem with ".../_include/.." subfolder

[2015-05-12 16:20] jmagnusson commented on #91
Have you abandoned the project, @mitsuhiko? Do you need contributors?

[2015-05-12 17:10] jmagnusson opened #158 "New release"
I know you're busy and all @mitsuhiko, but would it be possible for you to release a new version that hotfixes the error mentioned in #91 and [mitsuhiko/flask-babel#43](https://github.com/mitsuhiko/flask-babel/issues/43)? Without the fix proposed in the latter issue, the PO file generation fails in Python 3.4.

[2015-05-26 00:33] alexander-emelyanov commented on #158
In Flask we trust...

[2015-05-28 06:53] miltontony opened #159 "Adding support for Guarani"
Can you clarify if and when Guarani(grn) will be supported by Babel?
Currently trying to parse this code throws an error
[code]

[2015-05-28 11:15] benselme commented on #159
This part of Babel is just an interface to CLDR, a data repository managed
by the Unicode consortium. It seems like Guarani is, unfortunately, not
supported yet by CLDR so there is not much that the Babel project can do.

On Thu, May 28, 2015 at 2:53 AM, Milton Madanda <notifications@github.com>
wrote:

[2015-06-05 09:09] mkzero commented on #158
@mitsuhiko

Seriously, this repo hasn't been updated in over a year and you don't even seem to care to give a quick comment on what whill happen to this repo. If you as the maint are not interested in maintaining anymore, at least orphan that package and make a notice in the README, so others know they shouldn't use it until someone will care for the package. That's basic developer decency and tak

[2015-06-11 04:30] #126 closed

[2015-06-16 14:39] mbegoc opened #162 "A bug in support.Translations class prevent merge method to work with python 3"
This code sample works well in python 2:

    from babel.support import Translations
    translations = Translations.load("path/to/translations", ["en"])
    other_translations = Translations.load("other/path/to/translations", ["en"])
    translations.merge(other_translations)

Switching to python 3 make it to throw an AttributeError ('filter' object has no attribute 'extend') at babel/support.py:

[2015-07-06 13:50] ychab opened #165 "bump cldr to 27.0.1 to fix some incorrect negative prefix pattern for currency?"
Hi,

If someone got some time to use the latest cldr at http://unicode.org/Public/cldr/27.0.1/core.zip, it should be nice as it may fix some bug.

Indeed, it should fix the french negative prefix '(' deduced from current pattern :
[code]
while new ones are more detailled:
[code]
At least we should :
* change archive relative data at https://github.com/mitsuhiko/babel/blob/master/scripts/download_i

[2015-07-13 10:12] sils1297 opened #166 "Is this still maintained?"
This repository seems pretty stale, could you make an announcement in the readme or so if you don't intend to maintain it anymore?

[2015-07-21 13:27] daveoncode commented on #166
I was wondering too :P

[2015-07-21 13:31] sils1297 commented on #166
@mitsuhiko ?

[2015-07-25 03:36] ser commented on #158
@mitsuhiko :-1:

[2015-07-27 11:41] mitsuhiko commented on #91
I need support for maintaining this project badly.  If someone is up for helping out with it, please contact me :)

[2015-07-27 11:41] mitsuhiko commented on #91
This particular issue should be fixed however.

[2015-07-27 11:41] #91 closed

[2015-07-27 11:43] mitsuhiko commented on #166
Hi, sorry for the lack of feedback here.  I need help in maintaining this repository because I just have too much on my plate.  I pushed out a release with some bugfixes now but there is more to be done.  If someone is willing to help, please let me know.

[2015-07-27 11:44] mitsuhiko commented on #158
I pushed out a new release.  See #166 for the maintenance question.

[2015-07-27 11:44] #158 closed

[2015-07-27 12:00] sils1297 commented on #166
@mitsuhiko may I recomment doing a short statement in your readme that you're searching for help?

[2015-07-27 12:03] jmagnusson commented on #91
Great news! I don't really know my way around the code of this project so I'll have to pass. Hope you find that special someone.

[2015-07-27 15:10] erickwilder commented on #166
@mitsuhiko I really want to help. How can we do this?

[2015-07-27 15:42] rohithpr commented on #166
Hey, I'm here from ericwilder's message on `irc#pocoo`. I'm interested in contributing to this project but I haven't used it in the past and there doesn't seem to be any "easy-fix" label here. Could someone please point me to an easy-fix issue so that I can get started?

[2015-07-27 15:52] mitsuhiko commented on #166
Ideally I can give someone who uses Babel already and wants to help commit access to review pull requests and issues. The way this could work the best is if things are unclear from issues, you can send me a mail or reach me directly via instant messenger and I jump on here and help out.

[2015-07-27 15:53] mitsuhiko commented on #166
The main issue is that the github notifications do not work for the number of projects I have. I'm drowning in things that come in and it's impossible for me to prioritize issues any longer :(

[2015-07-27 16:05] rohithpr commented on #166
Oh! I'll take a look around and try to fix some bugs. I doubt if I can do what you're looking for though.

[2015-07-27 20:26] erickwilder commented on #159
@miltontony as @benselme said, the specs should be at CLDR.

[2015-07-27 20:26] #159 closed

[2015-07-28 01:04] jeremydw commented on #115
After doing some research on this myself, it looks like it's case-sensitive for case-sensitive filesystems and not case-sensitive for filesystems that aren't. You can verify by inspecting how Babel determines whether a locale exists or not, and how it loads the locale data files:

https://github.com/mitsuhiko/babel/blob/master/babel/localedata.py#L35

[2015-07-28 01:05] jeremydw commented on #115
By the way, I *think* CLDR's spec says that locale identifiers should NOT be case sensitive (http://cldr.unicode.org/core-spec – search for "case-insensitive" – "All identifier field values are case-insensitive.") so if that's indeed true I think it'd be nice if Babel could normalize this somehow to support case-insensitivity independent of the filesystem.

[2015-07-28 15:20] erickwilder commented on #166
@sils1297 I'll try to help by reviewing the current open pull requests and issues.

[2015-07-28 15:20] #166 closed

[2015-07-28 15:22] erickwilder commented on #165
@ychab I was looking this very morning about CLDR 27 release notes and I'll make some changes here soon. Thanks for your feedback.

[2015-07-28 15:56] sils1297 opened #168 "Add CI for windows and mac"
Travis has mac support and I'd recommend using appveyor for windows CI. I'd love to see this kind of CI in babel so everyone can rely on it working on all platforms when deciding to use it. This also makes the review process or PRs more reliable and may fasten working on PRs.

Example configuration for python projects, we've already figured out the harder stuff for you, setting up the appropriate

[2015-07-28 16:10] sils1297 opened #171 "Fix babel on python 3.5"
Especially 3.5 is important for the future, I wonder why 3.2 doesn't work as pypy probably iis a 3.2 version.

See https://github.com/mitsuhiko/babel/pull/169 for the build results of those builds.

[2015-07-28 16:12] sils1297 commented on #171
Related bug: https://github.com/mitsuhiko/babel/issues/168

[2015-07-28 16:12] sils1297 commented on #166
@erickwilder I'm trying to help you a bit with automation stuff to be able to process PRs faster and get the project more stable if you don't mind.

[2015-07-28 16:14] sils1297 commented on #171
Ah thats pypy2. I recommend adding pypy3 too.

[2015-07-28 16:56] erickwilder commented on #166
@sils1297 great! Will be awesome if we can do that.

[2015-07-28 16:59] sils1297 commented on #166
@erickwilder feel free to merge https://github.com/mitsuhiko/babel/pull/170 , will speed up builds by far. I'm available on #pocoo (user sils) right now if you want to talk to me, so we can discuss how to get this project up to speed. Alternatively at https://gitter.im/coala-analyzer/coala (sils1297).

[2015-07-28 17:06] sils1297 commented on #171
uhm as for build against 3.2 there's the fundamental problem of unicode strings: see http://stackoverflow.com/questions/6625782/unicode-literals-that-work-in-python-3-and-2 for a potential solution.

[2015-07-30 08:29] mohammadaminalaee opened #173 "Is there an option for defining namespaces?"
Is there a way to define namespaces in Flask Babel? Let's say I have the word "Submit" and I want two different translations for the word in different places, in the same language.

[2015-07-30 11:25] jun66j5 opened #174 "Locale.parse('zh_CN') raises a TypeError on Babel 2.0 with Python 3.3 and 3.4."
[code]
`Locale.parse('zh_CN')` should work and load `zh_CN` localedata.

On Python 2.7, it works fine.
[code]

[2015-07-30 11:47] sils1297 commented on #174
@jun66j5 thanks for your report!

Babel was barely maintained for some time and we're some new people trying to get it up to speed again. Because of this it might take some time until we're able to adress this bug.

[2015-07-30 11:48] sils1297 commented on #173
@mohammadaminalaee thanks for your report!

Babel was barely maintained for some time and we're some new people trying to get it up to speed again. Because of this it might take some time until we're able to adress this bug.

[2015-07-30 16:25] erickwilder commented on #174
@jun66j5 is this working in the previous (1.x) release?

[2015-07-30 18:22] erickwilder commented on #173
@mohammadaminalaee I think Babel itself doesn't support this. You can take a look at the `flask_babel` extension, which have a `pgettext` function which allow you to do just that: different translations based on context:
https://github.com/mitsuhiko/flask-babel/blob/master/flask_babel/__init__.py#L484

I don't know if it's a key responsibility of Babel itself to address such functionality.

[2015-07-30 18:28] erickwilder commented on #171
@sils1297
I don't really think that supporting Python 3.2 is really necessary. Official support was for Python 3.3 and I think we can move forward by just supporting 3.3+
What do you think?

[2015-07-30 18:44] jun66j5 commented on #174
Babel 1.3 works fine with Python 3.3 and 3.4.
[code]

[2015-07-30 20:22] mohammadaminalaee commented on #173
Thank you guys for your answers. Can you provide an example of pgettext() please?

[2015-07-30 21:27] blisc commented on #174
I got the a similar error trying to compile Python documentation with Sphinx.
Downgrading to babel 1.3 seems to have resolved the issue on 3.4.3

[2015-07-30 21:31] sils1297 commented on #171
@erickwilder so the key "feature" of python 3.2 is that pypy3 only support the python 3.2 specification. Taking this into account, any project that does not support python 3.2 and python 2 will not run with pypy. For some applications like coala (:)) pypy makes totally sense because performance is relevant which is the main reason for us at coala to support python 3.2.

So the thing is that Babel

[2015-07-31 00:03] sidloki commented on #174
Same error here. If I clone and checkout branch 2.0 and run:
[code]
everything works fine (both `python3.4` and `python2.7`). A package created with `python2.7` is not working with `python3.4`.

[2015-07-31 00:41] erickwilder commented on #174
I can't reproduce the error. Both running directly at the Python interpreter and writing a new test case and running against `tox`/`pytest` results on the `Locale` object being created (and tests passing)
I'm on a MacOSX and Python 3.x versions installed with `pyenv`. Anyone with a Linux environment can test the `issue174/locale-parse-py3x` branch?

[2015-07-31 03:38] jun66j5 commented on #174
`babel/global.dat` file in `Babel-2.0.tar.gz` on PyPI seems to be broken.
The `global.dat` cannot be loaded with Python 3.4 but it can be loaded with Python 2.6.

[code]

[2015-07-31 10:12] sidloki commented on #174
To reproduce the error:
[code]
The problem is, that the `global.dat` created in a python2 environment cannot be used in a python3 environment.

If I create the `global.dat` in a python3 environment and use it under python2, I get the follwoing failures:
[code]

[2015-07-31 14:45] hans-boden opened #175 "Exception occurs at unpickling global.dat"
Hi,

I work on Windows7 from inside the git-bash command line. Babel came to me as a part of a sphinx upgrade. Whith this error, my sphinx is blocked. Starting sphinx produces the same error as below.

Right after a fresh install of Babel I type in the example statements from the Locale Page. This is what happens:

$ pip install babel
Downloading/unpacking babel
  Running setup.py (path:C:\Users\i

[2015-07-31 15:13] sils1297 commented on #175
probable duplicate of https://github.com/mitsuhiko/babel/issues/174

[2015-07-31 15:13] sils1297 commented on #175
Thanks for reporting, we'll investigate that!

[2015-07-31 17:17] erickwilder commented on #175
I think that both #174 and this issue could be fixed by executing `clean-cldr` *before* `import-cldr` in the `release` task described at `Makefile`. It will ensure that no previous generated `.dat` files will be

[2015-07-31 17:35] sils1297 commented on #175
@erickwilder why're you reopening a duplicate?

[2015-07-31 17:35] erickwilder commented on #175
@sils1297
Yes, this is the same behaviour found at the report made in #174
I'm trying to figure out how to solve this, any help is welcome.

[2015-07-31 17:35] #175 closed

[2015-07-31 17:36] erickwilder commented on #175
No, I was just making a double check here before closing.

[2015-07-31 18:54] mitsuhiko commented on #171
Please don't make this run on 3.2.  This requires removing all unicode prefixes and this is going to just make a lot of stuff really ugly and complicated.  Nobody uses 3.2.

[2015-07-31 18:55] mitsuhiko commented on #171
Also, I'm a hard -1 on changing the unicode literal behavior.  That part is non negotiable.

[2015-07-31 18:58] mitsuhiko commented on #171
Also you are wrong. PyPy3 supports unicode literals just fine.

[2015-07-31 19:31] sils1297 opened #176 "Create contribution guidelines"
Hey @erickwilder we'll probably want to set up some guidelines for contributions.

They need to be well reviewable and commit message should contain reasoning and be properly formatted IMO. We can almost copy guidelines from coala if you're good with that: http://coala.readthedocs.org/en/latest/Getting_Involved/Writing_Good_Commits/

Second, we'll need review, testing, documentation guidelines and

[2015-07-31 19:33] sils1297 commented on #171
@mitsuhiko alright, so only 3.5

[2015-07-31 19:44] erickwilder commented on #176
Agree on creating contribution Guidelines, this makes the job of managing incoming issues/pull request easier.
Is there any other Pocoo-based project with some well stablished guidelines? Before looking at Coala I'm more inclined to follow something that's already "in the house".

What do you think?

[2015-07-31 19:51] sils1297 commented on #176
I'm fine as long as there are such guidelines. @mitsuhiko are there contribution guidelines for pocoo projects?

[2015-08-01 15:41] shimizukawa commented on #174
To reproduce the error:
[code]

[2015-08-01 17:01] mitsuhiko commented on #174
This is a really annoying issue.  Ideally we would stop using pickle and switch to something we can efficiently load from disk (msgpack as a start).  Long term it would be great if we could mmap something, but unfortunately that might be pretty slow with the constant boxing :(

[2015-08-01 17:02] mitsuhiko commented on #176
The styleguide is here: http://flask.pocoo.org/docs/0.10/styleguide/

For the rules that govern Babel I think I will make a document that set up some of the general hard requirements for how the project has been run so far so that it stays somewhat reasonable close to where it is design wise.

[2015-08-02 01:48] icoxfog417 commented on #174
As @jun66j5 says, `global.dat` on PyPI may be broken.
I installed from GitHub 2.0 branch as below instead of `pip install babel`, then the error didn't occur.

[code]

My environments is Windows 8.1 and Python 3.4.3.

[2015-08-02 13:35] sils1297 opened #178 "Measure test coverage"
In a talk with @erickwilder we agreed that we'll want to measure test coverage to make this project more stable and enforce that it may not go down on merging a PR.

We'll probably want to use pytest-cov and submit the coverage to codecov.io.

[2015-08-02 14:29] sils1297 opened #179 "Add Number Spelling"
this bug is to track the commits of https://github.com/mitsuhiko/babel/pull/114

[2015-08-04 09:48] thuvh commented on #174
I think this error happens in window environments

[2015-08-04 11:50] erickwilder commented on #176
@mitsuhiko
Great. I'm waiting. Meanwhile we'll use our best judgement to approve contributions.

Thanks

[2015-08-04 12:43] mitsuhiko commented on #176
Added this now: https://github.com/mitsuhiko/babel/blob/master/docs/dev.rst

Hope that helps.

[2015-08-04 14:06] erickwilder commented on #178
@sils1297
`pytest-cov` is enough. Let me know if you need some help on this.

[2015-08-04 14:08] erickwilder commented on #174
@jun66j5
I saw that you're working on some changes to solve this issue. Any progress? Do you need some help?

[2015-08-04 14:14] sils1297 commented on #178
uhm everything's set up, codecov included. Any PR with a patch coverage below 80% will be marked as failed from now on. Overall coverage is 82%.

[2015-08-04 14:14] #178 closed

[2015-08-05 02:36] jun66j5 commented on #174
Thanks, @erickwilder. Updated https://github.com/jun66j5/babel/commits/issue174/workaround.

Root cause is incompatible pickle data for `datetime.date` classes between Python 2 and 3. In that branch, the uses of the classes are removed and added unit tests for that.

Should I create a pull request with that branch?

[2015-08-05 11:44] erickwilder commented on #174
@jun66j5
Yes please. Submit a pull request so we can review.
We'll need to backport changes of that to the 2.x branch, so your call to use master or the maintenance branch as a target when opening.

[2015-08-05 14:05] erickwilder opened #187 "Avoid using reserved words in variable names"
This is a minor issue but we need to look at our code with care and avoid variable names such as `min` and `max` used in `babel.numbers.parse_precision()` function [1]

[1] https://github.com/mitsuhiko/babel/blob/master/babel/numbers.py#L549

[2015-08-05 14:08] sils1297 commented on #187
@erickwilder I plan to set up scrutinizer so we'll automatically get warnings if a PR introduces such things or other easily autodetectable things like unused imports.

[2015-08-05 16:11] lepistone opened #189 "crash reading file with UTF-8 BOM + "# coding: utf-8" (supported since python 2.5)"
Reading such a file fails at

https://github.com/mitsuhiko/babel/blob/master/babel/util.py#L81

however, those files seem to be supported since 2.5:

https://bugs.python.org/issue1378022

Would you consider a patch to allow such files in babel?

Thanks!

[2015-08-05 16:15] sils1297 commented on #189
Sounds great, you plan to do a PR?

[2015-08-05 16:16] sils1297 commented on #168
We have CI for windows and mac now.

[2015-08-05 16:16] #168 closed

[2015-08-05 16:18] lepistone commented on #189
Sure. I gave a look at what cpython does now, and it looks like it compares the BOM and the comment, which sounds reasonable to me.

https://github.com/python/cpython/blob/master/Parser/tokenizer.c#L333-L339

[2015-08-05 16:27] sils1297 commented on #189
Ah note that the code will also be tested against pypy so if they don't support that that will be a problem. We could make an interpreter branch though and only support that for CPython...

[2015-08-05 16:48] lepistone commented on #189
I tried, and pypy seems to have the same behavior (crashes only if there is a BOM but the comment says `latin1`).

[2015-08-05 16:50] sils1297 commented on #189
Cool :)

2015-08-05 18:48 GMT+02:00 Leonardo Pistone <notifications@github.com>:

[2015-08-05 17:16] #97 closed

[2015-08-06 00:43] hector commented on #109
+1 happening to me also
If you guys want to preserve the name for the localedata.py and the localedata folder, just:
```mv localedata.py localedata/__init__.py```

[2015-08-06 02:49] felixonmars commented on #76
Oops, sorry for the reference flood.

With my PR #110 merged, this issue should be resolved now :)

[2015-08-06 05:48] sils1297 commented on #76
@felixonmars that reference "flood" is intended and it's a nice way to track the development of commits and shows we're doing good work so there's no need to be sorry - IMO. Thanks for helping out with this one!

@jrfern A fix has been applied to master it would be great if you (or someone else) could try to reproduce this although it shouldn't happen anymore. Reopen if it does anyway.

Thanks for

[2015-08-06 05:50] sils opened #194 "Add automatic releases to PyPI"
This will make it easier for people to get the latest and greatest version and makes them able to test unreleased bugfixes without needing to build from source - simply use `pip install --pre babel` for that.

Plan: let rultor do a development release on every merge to master.

[2015-08-06 05:53] sils1297 commented on #109
This was fixed on master with commit https://github.com/mitsuhiko/babel/commit/7d387f95f4f41ed646bcb2b4fa39dae4a601b6ce .

We're currently adressing some maintenance relevant CI, backporting and release issues so it might take a few weeks until we can make some kind of release out of that. This situation will hopefully improve in the future with automated development releases done on merge, see ht

[2015-08-06 05:53] #109 closed

[2015-08-06 06:00] sils1297 opened #195 "Backport commits since 2.0"
@erickwilder can you go through commit history since 2.0 and backport where possible? Especially CI stuff needs backporting and of course bug fixes and that stuff. I'd love to have a PR to the 2.0 maintenance branch and we probably want another for things that apply to 1.0 although I'm not sure to what degree that has to be actively maintained.

[2015-08-06 06:01] sils1297 commented on #195
@erickwilder needs to be done as fast as possible and I'll be busy with GUADEC and GSoC administration stuff so I took the freedom to assign you.

[2015-08-06 06:39] sils1297 commented on #194
I've done some rultor testing and am stuck a bit with those failures: http://www.rultor.com/t/4721-128266162 with no time to correct it but something like that will probably work for merges.

Commits are the top two commits on sils1297/babel master: https://github.com/sils1297/babel

Then we'll do some script derived from https://github.com/coala-analyzer/coala/blob/master/.misc/deploy.pypi.sh on

[2015-08-06 06:55] sils1297 commented on #194
For this to work @mitsuhiko either needs to give a PyPI user of mine access to the babel package or create a bash script that exports `PYPIUSER` and `PYPIPW`, encrypt this with `rultor encrypt -p mitsuhiko/babel .ci/rultor_secrets.sh` and add it to the repository. Be sure to not use `set -x` to keep the values hidden from the log.

[2015-08-06 11:59] regisb opened #196 "odict's 'pop' method does not work"
The following test fails:

    d = odict()
    d[0] = 1
    d.pop(0)
    assert (0 in d.items()) == False

[2015-08-06 13:31] erickwilder commented on #195
Ok. But I do think that making pull requests on top of the 2.x branch still needs some code review. Can you at least take a look in them ?

[2015-08-06 13:34] sils1297 commented on #195
@erickwilder sure, assign me to the PR and please drop a comment on them so I'll get an email. You aren't accidentally at GUADEC are you?

[2015-08-06 17:45] mitsuhiko commented on #187
`min` and `max` are not reserved words.  Please do not blacklist builtin names.  That is just going to make things confusing if Python later introduces another builtin.

[2015-08-06 17:45] #187 closed

[2015-08-11 03:08] ericholscher commented on #171
It appears this is failing on Python 3.4 on Windows as well: https://ci.appveyor.com/project/ericholscher/sphinx-autoapi/build/1.0.5

[2015-08-11 03:08] ericholscher commented on #171
[code]

[2015-08-11 03:10] ericholscher commented on #171
Hmm, I thought this was the bug for this error, as I have it in my history -- but perhaps I'm in the wrong place. Anyways, this is breaking Sphinx on Windows in Python 3.

[2015-08-11 03:29] ericholscher commented on #174
Ran into this one as well on Windows & 3.4: https://ci.appveyor.com/project/ericholscher/sphinx-autoapi/build/1.0.5

[code]

[2015-08-12 11:24] craigloftus opened #201 "format_currency only ever retrieves the default locale currency format"
`format_currency` always passes `None` to `locale.currency_formats`, which means that it only supports the default currency format for the given locale.

[code]

Shouldn't this be:
[code]

Which would allow me to do something simple like:
[code]

[2015-08-14 13:04] etanol commented on #201
I think the CLDR importing script needs to be also modified, as I haven't found any data file (in `pickle` format) that defines multiple currency formats, other than `None`.

@sils1297 I can take a look at this, if I may.

[2015-08-14 13:17] sils1297 commented on #201
@etanol sure, go ahead. I can't assign you because of github having a bad access management. Many thanks for your support.

[2015-08-14 19:12] jayvachon opened #202 "Pybabel generates empty pot file with jinja2"
I am having the same issue described in this <a href="http://stackoverflow.com/questions/29765456/pybabel-generates-empty-pot-file-with-jinja2">Stack Overflow post</a>, but the accepted answer isn't working for me.

Let me know if there's any other helpful info I can provide - my setup is exactly the same as in the post.

This is the output after I run `extract -F babel.cfg -o messages.pot templat

[2015-08-15 10:33] etanol commented on #201
After diggin up a bit, it indeed looks that the CLDR import script is not using the `type` attribute from the correct element.  It is searching for it at `<currencyFormatLength>` elements where it should be at `<currencyFormat>`, child element of the former.

However, there is now alias resolution involved (added in CLDR >23), so it is going to be a bit more complex and take a little longer to imp

[2015-08-15 11:01] craigloftus commented on #201
@etanol If you focus on the import script I could work on a separate PR for `format_currency` function itself, would probably be able to do it on Monday.

[2015-08-16 08:40] etanol commented on #201
@craigloftus Sure, no problem.  Just keep in mind that in CLDR 26, currency formats are always _typed_ (i.e. they have a `type` attribute), so a format with key `None` will **not** exist anymore.  Basically, in CLDR 26 there are two types: `standard` and `accounting`.

You can verify it, by executing the following from the root of the repository, after executing the actual import script:

[code]

[2015-08-18 21:17] srkunze opened #204 "wheels for babel"
Do you consider providing Python wheels for babel? cf. http://pythonwheels.com/

[2015-08-22 14:16] ranvik14 opened #205 "Traceback in babel, when using it with Python 3.4 & Windows 10"
I'd like to report the following issue

<Log>

Windows PowerShell
Copyright (C) 2015 Microsoft Corporation. Alle Rechte vorbehalten.

PS C:\Users\Viktor> python --version
Python 3.4.3
PS C:\Users\Viktor> python
Python 3.4.3 (v3.4.3:9b73f1c3e601, Feb 24 2015, 22:44:40) [MSC v.1600 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent

[2015-08-22 14:27] ranvik14 commented on #205
For the background & context see: http://mail.scipy.org/pipermail/ipython-user/2015-August/013994.html
Credit for the analysis goes to Paul Moore.

[2015-08-22 14:35] jun66j5 commented on #205
Duplicate of #174 and #175.

[2015-08-23 13:48] sils1297 commented on #205
@erickwilder can you resolve the duplicates please? Mobile internet
connection in non home country makes this hard for me right now.
On Aug 22, 2015 4:35 PM, "Jun Omae" <notifications@github.com> wrote:

[2015-08-24 16:36] #205 closed

[2015-08-24 16:43] erickwilder commented on #204
Hi @srkunze. Thank you for your feedback.

The library was a little stale in the past months. We're trying to get things done as soon as possible. Right now we're focused on reviewing open pull requests to give us a solid ground to keep the library as much updated as possible.

I do think that providing wheels is an important topic, but I can't see when this is gonna happen. We don't have any clea

[2015-08-24 18:10] erickwilder commented on #195
@sils1297
Sorry for the huge delay. I'm near a critical deadline of a project.
CI settings was backported in the #197 and we're near to merge #193

Is there any other critical change that needs to be backported?

[2015-08-24 18:19] erickwilder commented on #173
@mohammadaminalaee
If you're using `flask_babel` it's pretty straightforward:
[code]
This will generate two entries for `Submit` text to be translated.

For a pure Babel approach, take a look in the `NullTranslations.upgettext`[1], which does pretty the same thing.

[1] https://github.com/mitsuhiko/babel/blob/master/babel/support.py#L436

[2015-08-24 18:19] #173 closed

[2015-08-24 18:40] sils1297 commented on #195
I'm not able to determine that myself until September.
On Aug 24, 2015 20:10, "Erick Wilder" <notifications@github.com> wrote:

[2015-08-24 22:30] kruton opened #206 "Support previous-string comments (#|)"
According to the [gettext documentation of PO files](https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html) any comment starting with `#|` is a previous-string comment that should aid with tasks such as updating with new translations.

This could be accomplished with a new field in the `Message` class called `previous` that would itself be a `Message` instance containing all the prev

[2015-08-24 23:16] kruton commented on #206
It looks like `write_po` supports the `include_previous` flag, but reading does not parse previous-string. This was added a while ago in a080165bf515bfd77f43a9c87cde08218e08a9dc.

[2015-08-25 12:27] sils1297 commented on #206
Hey, thanks for reporting. We'll try to look at this; sadly for now we're
having difficulties keeping up with incoming PRs even because there are a
lot if old ones so it'll probably take some time if no PR for this comes up.
On Aug 25, 2015 01:16, "Kenny Root" <notifications@github.com> wrote:

[2015-08-25 14:58] erickwilder commented on #195
OK. Personally I would backport just critical bug fixes and features. What you think about this?

[2015-08-25 15:42] sils1297 commented on #195
Agreed.

2015-08-25 16:58 GMT+02:00 Erick Wilder <notifications@github.com>:

[2015-08-25 16:42] kruton commented on #206
Do you mean incoming issues? I can write a PR for this if you agree the basic design is sane.

[2015-08-25 16:49] sils1297 commented on #206
I actually mean PRs because there are a lot of old PRs and we just took over maintenance of this former stale project. I'm currently in my holidays and don't have the time to fully check our your concept, @erickwilder can you take a look? @kruton however, you can be assured that any incoming PR will be valued and reviewed.

[2015-08-28 13:31] haypo commented on #174
Hi, I got this issue (TypeError in babel.core.get_global()) when working on porting the OpenStack Horizon project to Python 3. I confirm that the problem is that the file babel/global.dat of Babel-2.0.tar.gz (the file hosted at PyPI) cannot be loaded by Python 3.

I also confirm that the root issue is that Babel uses datetime.date objects in global.dat. Python 2 serializes a datetime.date using a

[2015-09-07 18:23] colost8rams opened #207 "babel throws a type error on imports python 3.3/3.4 on windows 7"
I have just tried installing babel and I keep getting a type error when I try the first example on the homepage.  I've tried under fresh installs of both python 3.3 and 3.4.  here's the full traceback:

    Python 3.3.5 (v3.3.5:62cf4e77f785, Mar  9 2014, 10:37:12) [MSC v.1600 32 bit (Intel)] on win32
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most re

[2015-09-07 18:30] sils1297 commented on #207
Hi @colost8rams, thanks for your report. We'll try to look at it as soon as possible, we still have problems keeping up with this repository though so it might take some time - sorry :/ Any help is appreciated.

[2015-09-07 19:14] colost8rams commented on #207
This seems to be a duplicate of issue 174:  https://github.com/mitsuhiko/babel/issues/174

a quick workaround is to install the github branch of babel 2.0.  so, I `pip uninstall babel` and then `pip install git+https://github.com/mitsuhiko/babel.git@2.0` and ... so far so good.  seems the global_data on the pypi distribution was pickled in python 2 whereas the one on the github branch was pickled

[2015-09-07 19:28] sils1297 commented on #207
@colost8rams yes, thanks this seems to be a duplicate.

[2015-09-07 19:28] #207 closed

[2015-09-09 22:04] #189 closed

[2015-09-10 08:41] haypo commented on #174
Cool! The fix (https://github.com/mitsuhiko/babel/pull/188) was merged! Would it be possible to get a bugfix release? The latest Babel release on PyPI is incompatible with Python 3 :-(

[2015-09-10 08:49] sils1297 commented on #174
@haypo we're still not having access to pypi to update that, it's a bit hard to reach the old maintainer. You can install Babel from git in the meantime: https://pip.pypa.io/en/latest/reference/pip_install.html#git

@erickwilder closing as it was fixed

[2015-09-10 08:49] #174 closed

[2015-09-10 08:54] sils1297 opened #209 "Tasks for mitsuhiko"
Hi @mitsuhiko ,

could you:

- [x] add babel to https://scrutinizer-ci.com/ and give me (@sils1297) configuration access
- [x] please give @rultor write access to the repository, we want to use this for devops.
- [x] give the "babel" user on PyPi access so we can upload releases and even automatic development releases soonish, making the latest fixes available via `pip install babel --pre`
- [x] M

[2015-09-10 08:56] rultor commented on #209
@sils1297 I see you're talking about me, but I don't understand it. If you want to say something to me directly, start a message with @rultor

[2015-09-10 10:10] sils1297 commented on #209
@mitsuhiko I think it would make sense to move Babel to some organization for more fine grained permission management, it is a bit cumbersome to have to get you for simple things like protecting a few branches or adding webhooks.

[2015-09-10 10:12] sils1297 commented on #209
@mitsuhiko you could transfer the repository to the python-babel organization I just set up, give the babel user on pypi access and I'll take care of the rest.

[2015-09-10 13:33] #196 closed

[2015-09-10 13:39] moreati opened #211 "Formatting of negative babel.util.FixedOffsetTimezone offsets"
- [ ] Definite bug A: `FixedOffsetTimezone` dosn't account for negative offsets when it creates a default zone name

[code]

- [ ] Possible bug B: Additonally the repr() is odd if the offset is negative

[code]

I'll submit a PR for A. Any opinions on B?

[2015-09-10 13:40] moreati commented on #211
I also noticed FixedOffsetTimezone deals in minutes, whereas pytz deals in hours. I'm chalking that up as potentially inconsistent, but not a bug.

[code]

[2015-09-10 13:59] sils1297 commented on #211
@moreati from a first glance you seem to mix up two or even three bug reports in one, could you split them up? (Same with the PR, we want commits to be atomic, one change is one commit.)

[2015-09-10 14:06] moreati commented on #211
OK, I'll close this and open separate issues and PRs

[2015-09-10 14:06] #211 closed

[2015-09-10 18:45] moreati opened #214 "FixedOffsetTimezone renders negative offsets incorrectly"
[code]

[2015-09-10 18:50] moreati opened #215 "FixedOffsetTimezone repr() is awkard for negative offsets"
[code]

Ideally this would be something like `<FixedOffset "Etc/GMT-60" -1:00:00>`. I'm not sure it matters enough to change the existing behaviour. Assessments and recommendations welcomed.

[2015-09-10 18:52] sils1297 commented on #214
This is a bug, change needs to be backported to the maintenance 2.0 branch, @moreati I guess you'll have a PR for this soon as you already had a commit solving this, can you submit that PR for both master and the maintenance 2.0 branch?

[2015-09-10 18:58] sils1297 commented on #215
Indeed, I'm for this change but it's not a real bug so it doesn't need backporting.

[2015-09-10 18:58] moreati opened #217 "FixedOffsetTimezone displays offsets in minutes, unlike pytz which uses hours"
This seems inconsistent
[code]

Should FixedOffsetTimezone uses minutes in the zone name? On the one hand it's able to express more fine grained offsets, on the other it's different to what most of the world does (and expect). Again I'm not sure if a) this is bug, or just a wart b) if it is a bug that it's important enough to change existing behaviour.

[2015-09-10 19:00] moreati commented on #214
I'll try

[2015-09-10 19:01] sils1297 commented on #217
Related to https://github.com/mitsuhiko/babel/issues/215 but still an own bug IMO. This is a bug IMO if I'm getting this right now, as the string is ambiguous.

[2015-09-10 19:02] sils1297 commented on #217
Ahm sorry, I still haven't learned to read properly. I think we want to change it still, it's very misleading.

[2015-09-10 19:03] sils1297 commented on #217
A PR would need to mention the change in the CHANGES file, for the record, so users are aware of the change.

[2015-09-10 19:09] moreati opened #218 "FixedOffsetTimezone.utcoffset() is the negative of pytz.StaticTzInfo.utcoffset()"
I believe these should represent the same fixed timezone - 1 hour ahead of GMT
[code]

but they each calculate the opposite of the other as the UTC offset, given a datetime
[code]

[2015-09-10 19:36] #214 closed

[2015-09-10 23:58] warsaw commented on #156
I'm seeing these same failures when I build the Debian/Ubuntu version of the package.  Any thoughts on a fix?

[2015-09-11 08:10] sils1297 commented on #156
@roman-neuhauser @warsaw could you please give steps to reproduce? Which version/branch did you use?

[2015-09-11 13:54] warsaw commented on #156
In Debian/Ubuntu we have version 1.3 currently, but it's a slightly modified version.  The package removes the bundled global.dat and localedata/*.dat and re-downloads and unpacks http://unicode.org/Public/cldr/23.1/core.zip.   Steps to reproduce reliably involve building the Debian package, but I believe the test failures are essentially this:

[code]

I've tried updating the Debian version to Ba

[2015-09-12 13:56] etanol commented on #156
How did you execute the tests on version 2.0?  The test suite for the 2.0 branch was broken for some time, but it has been recently fixed (9f099d39553188d9bc56f7721ea40ece9f0959cd, aa4165df073239a9f6ff01c0b5f6cb430a5b9d10).  If you run tests with [Tox](http://tox.readthedocs.org/en/latest/), all of them should succeed.

[2015-09-16 00:44] abakan opened #221 "`global.dat` cannot be unpickled with Python 3.5"
`global.dat` cannot be unpickled with Python 3.5. This causes a problem when installing packages that use Babel's `message_extractors` with `pip`.

[code]
Exception is thrown in `core.py`: https://github.com/mitsuhiko/babel/blob/master/babel/core.py#L56

[2015-09-16 14:08] gschizas commented on #221
This is probably a duplicate of this: https://github.com/mitsuhiko/babel/issues/174

(TL;DR do a ```pip install --upgrade git+https://github.com/mitsuhiko/babel.git@2.0```)

[2015-09-16 14:37] sils1297 opened #222 "Add python 3.5 support"
Python 3.5 will be there soon and we should add CI for it and make sure it works.

Possible related issue: https://github.com/mitsuhiko/babel/issues/221

[2015-09-16 16:22] warsaw commented on #156
Thanks.  It was the aa1465d patch I was missing.

[2015-09-17 19:16] jrfern opened #224 "How about a 2.1 release?"
This is just a reflexion, sort of an example of wishful thinking - take it as a question.

Release 2.0 was created in July. The important (at least for me) fix for the 2010 Language header (issue #76), which brought at least three PR's that I know of, was merged in August, so it's out of 2.0. I see work is being done for a 3.0 version some time in the future. Are intermediate releases planned? I w

[2015-09-17 19:18] sils1297 commented on #224
Hey @jrfern thanks for bringing this explicitly to our attention. However we don't have access to pypi yet and I've not yet found a way to reach @mitsuhiko since quite some time via GitHub, Mail or IRC.

Related bug https://github.com/mitsuhiko/babel/issues/209 . Keeping this open so we'll do a 2.1 release as soon as we literally can.

[2015-09-17 19:26] sils1297 commented on #76
@erickwilder this bug has not been backported to the 2.x maintenance branch, can you take care of this?

[2015-09-17 19:29] sils1297 commented on #224
@jrfern however we did forget to backport #76 to the 2.x maintenance branch it seems. We'll do that soonish. Manpower's short :/

[2015-09-17 19:33] sils1297 commented on #76
@erickwilder I did the PR, please take a short look, merge and close this bug.

[2015-09-18 21:22] benselme opened #226 "Upgrade CLDR to version 28"
CLDR version 28 was released today:
http://blog.unicode.org/2015/09/cldr-version-28-released.html

We should upgrade to this new version.

[2015-09-19 11:00] sils1297 opened #227 "More Manpower is needed"
Hey @erickwilder ,

so far we seem to be able to keep up with new PRs barely, maybe we should think about putting a note in the README asking for more people who would like to help us. There are at least some regular contributors who might actually have an interest in helping us out.

How's your opinion on this?

Lasse

[2015-09-19 11:01] sils1297 commented on #226
@benselme thanks for reporting. Could you do a PR?

Manpower's short currently, see https://github.com/mitsuhiko/babel/issues/227 for more info on that.

[2015-09-20 16:23] etanol commented on #227
I'm in, although there some issues that prevent me from being more involved:

* I'm switching jobs with a relocation involved, so until the second half of october I'll be quite busy
* I don't know much about your current release strategy or backporting policy
* I also find it difficult to know what needs the most attention first

Hopefully, you could write some comments about the last two items in

[2015-09-21 08:48] haypo opened #228 "Need a new release to fix Python 3 compatibility"
Hi,

The latest release Babel 2.0 doesn't work on Python 3 because of the bug #174. Good news: the pull request #188 already fixed the bug 11 days ago. The last point is to get a release on PyPI. I prefer to open a new issue because the previous bug report and the pull request are both closed.

This bug is blocking me to port the OpenStack Horizon project to Python 3.

@sils1297 wants to do the re

[2015-09-21 08:50] mitsuhiko commented on #228
I can provide access to pypi to @sils1297 but I need his pypi name.

[2015-09-21 10:01] haypo commented on #228
I replied on IRC: "sils". Armin allowed sils to upload to PyPI, congrats @sils1297, the new release manager :-D

[2015-09-21 10:21] sils1297 commented on #228
@haypo @mitsuhiko thanks, closing this as a duplicate of https://github.com/mitsuhiko/babel/issues/224 .

@mitsuhiko could you please look into https://github.com/mitsuhiko/babel/issues/209 ? In there I'm proposing

- To move this repository to the https://github.com/python-babel organization so we can manage permissions and webhooks by ourselves, GitHub should automatically take care of forwardin

[2015-09-21 10:21] #228 closed

[2015-09-21 11:28] sils1297 opened #230 "Repository moved"
The repository moved to the python-babel organization. Probably docs contain pointers to the old repository, we'll want to correct that. We also need to make sure CI works still.

[2015-09-21 12:08] #209 closed

[2015-09-21 12:08] rultor commented on #209
@sils1297 I see you're talking about me, but I don't understand it. If you want to say something to me directly, start a message with @rultor

[2015-09-21 12:20] sils1297 commented on #227
@etanol I invited you with write access to the org. Thanks for stepping up. Terms are quite easy :)

- You obviously do as much as you want.
- As for releases we'll set up an automated pipeline. This'll be cool. You'll see! (See also https://github.com/python-babel/babel/issues/194)
- We're still trying to get a hold on everything so we also don't know what needs attention. The most important thin

[2015-09-21 12:20] sils1297 commented on #227
@etanol maybe you can join https://gitter.im/python-babel/babel and we can coordinate a bit?

[2015-09-21 13:08] sils1297 commented on #230
done, documentation is updated and I adjusted the CI stuff.

[2015-09-21 13:08] #230 closed

[2015-09-21 14:55] sils1297 commented on #224
I just merged the backport. Will do a 2.1 release todayish.

[2015-09-21 15:12] sils1297 commented on #224
Ok, what needs to be done:

- Update the CHANGES file to contain whatever we added since the last release. I hate this :P could someone do this for me? I have some other things on my plate right now.
- I want @erickwilder s consent that we want to release that.
- Then I'm doing the release ASAP, promised :)

[2015-09-21 15:47] sils1297 commented on #204
@srkunze hey, I'll do a 2.1 release soon as I have access to pypi since today. This will include a wheel for sure.

See https://github.com/python-babel/babel/issues/224 for more information. Closing this.

[2015-09-21 15:47] #204 closed

[2015-09-21 15:49] sils1297 commented on #176
Basic guidelines are here, we can close this and add more as needed.

[2015-09-21 15:49] #176 closed

[2015-09-21 15:50] sils1297 commented on #171
Closing in favor of https://github.com/python-babel/babel/issues/222

[2015-09-21 15:50] #171 closed

[2015-09-21 15:52] sils1297 commented on #226
Related: https://github.com/python-babel/babel/issues/165

If this gets done, we can close the other one also.

[2015-09-21 15:53] sils1297 commented on #142
@prophile thanks for the note, we'll have then from the 2.1 release which will happen during the next days. See https://github.com/python-babel/babel/issues/224 for more information.

[2015-09-21 15:53] #142 closed

[2015-09-21 15:55] sils1297 commented on #108
Hi, @mj1856 we're currently short of manpower, just taking over this repository. We would love a PR for this. Apart from that I'm marking this as `easy` and `ready to work upon`,  thanks for submitting the bug!

[2015-09-21 16:00] sils1297 commented on #99
Hi, closing this one as a duplicate of https://github.com/python-babel/babel/issues/226 . I'd love to see a PR solving that one, be it incrementally or not.

[2015-09-21 16:00] #99 closed

[2015-09-21 16:02] sils1297 commented on #105
Hi,

this bug is very old anf python 2.5 is not supported anymore. I'm therefore closing this, assuming this is an "outdated" issue, if you can reproduce this bug with a supported python version we'd be happy to get a new bug report!

Lasse

[2015-09-21 16:02] #105 closed

[2015-09-21 16:04] sils1297 commented on #70
@rjollos thanks for submitting this bug report! Marking this an easy fix for beginners. This will not be backported to the babel 2 version as it is more or less a "feature".

[2015-09-21 16:05] sils1297 commented on #76
I merged the backport, this will be up on pypi with the next release in the following days.

[2015-09-21 16:05] #76 closed

[2015-09-21 16:10] sils1297 commented on #74
@graingert currently we're struggling with this repository, manpower-wise, so adding another repository to our workload is not a good idea IMO. I think it would be cool to move the django-babel repository into the python-babel organization so you gain a bit more public visibility and we can use our teams to manage contributors.

Would you be interested in that?

[2015-09-21 16:11] sils1297 commented on #74
That implies, you stay maintainer of your repo under our umbrella and we all try to help out everyone :)

[2015-09-21 16:11] graingert commented on #74
sounds good to me

[2015-09-21 16:14] sils1297 opened #235 "Docs: Expose gitter instead of IRC"
At least I am way more reliably available on https://gitter.im/python-babel/babel than on IRC and there any request will for sure be answered by me. We should point users to that instead of IRC or the mailing list.

[2015-09-21 16:18] sils1297 commented on #74
@graingert cool, can you join https://gitter.im/python-babel/babel so we can talk about this?

[2015-09-21 16:23] sils1297 commented on #74
Done.

[2015-09-21 16:23] #74 closed

[2015-09-21 16:33] etanol commented on #108
If you are using `master` it is probably caused by the update from CLDR 23.1 to CLDR 26

[2015-09-21 16:41] srkunze commented on #204
Great, thanks.

[2015-09-21 17:18] rjollos commented on #70
I created pull request #236.

[2015-09-21 17:37] rjollos commented on #70
#239 revises #236 to address requests made in #236 pull request.

[2015-09-21 17:43] sils1297 commented on #70
@rjollos FYI, you can also put a `Fixes https://github.com/python-babel/babel/issues/70` in the commit message to automatically track all commit revisions in the issue. (Please use the full URL for this as repository adresses may change in the future.)

[2015-09-21 17:52] sils1297 commented on #70
Fixed in https://github.com/python-babel/babel/commit/6a9f60f98a593014837dbb0625c85e219d842be7

[2015-09-21 17:52] #70 closed

[2015-09-21 17:54] sils1297 commented on #152
@auvipy I'm closing this then as invalid :) Thanks for reporting anyways!

[2015-09-21 17:54] #152 closed

[2015-09-22 20:10] sils1297 opened #240 "Wheel Won't Build"
From https://github.com/python-babel/babel/pull/238#issuecomment-142402905

[2015-09-22 20:16] sils1297 commented on #240
@etanol this isn't a wheel issue, right? This'll also affect the tarball.

This does not need to be backported as it only affects master.

[2015-09-22 20:50] sils1297 opened #243 "Test Distributions"
Hey @etanol you seem to be the right one for this so I took the freedom to assign you for this. Could you add a test that tests that the wheel and tarball are properly packed?

I'd be happy to provide any CI related assistance you need.

[2015-09-22 20:55] sils1297 opened #244 "maintenance: Correct version numbers"
@erickwilder is working on this. (@erickwilder I can't assign you until you accept the invitation for this org)

[2015-09-22 21:25] sils1297 commented on #240
@etanol confirmed this on gitter.

[2015-09-22 21:53] erickwilder opened #247 "Use tox when running tests with rultor"
We're using plain `pytest` invokation when using `@rultor` to merge pull requests. This can lead to broken behaviour in some of our supported Python versions. To avoid that we **must** use `tox` command to be able to test on all supported versions when using `@rultor` commands.

[2015-09-23 14:11] sils1297 opened #250 "Add pypy3 support"
IMO this is important and it *should* ideally work without modifications except the version check in setup.py. (Also see https://github.com/python-babel/babel/issues/171 )

[2015-09-23 15:32] erickwilder commented on #244
This is already fixed. My local `2.x` branch was messy when I told @sils1297 about the version numbers.

[2015-09-23 15:32] #244 closed

[2015-09-23 16:03] erickwilder commented on #224
@sils1297
A new pull request was created with the `CHANGES` modifications: https://github.com/python-babel/babel/pull/251

[2015-09-23 16:07] erickwilder commented on #235
Agreed.

[2015-09-24 21:44] ENuge opened #253 "Message extraction is slow for sufficiently large repos (consider parallelizing)"
A large repo I am working with currently takes ~30 seconds to build using xgettext (https://www.gnu.org/savannah-checkouts/gnu/gettext/manual/html_node/xgettext-Invocation.html). The same scan with pybabel extract takes ~2 min 49 secs.

The extraction process is, in both cases, blacklist-based, with the same directories blacklisted. That is, we scan the entire repo for new messages except those in

[2015-09-24 21:48] ENuge commented on #253
Without having looked too deeply into the code, I think it could be possible to split the calls inside extract_from_dir(..) to extract_from_file(..) into multiple processes, one per filename (somewhere near here: https://github.com/python-babel/babel/blob/master/babel/messages/extract.py#L143).

[2015-09-25 07:18] sils1297 commented on #224
New Babel release available on https://pypi.python.org/pypi/Babel .

[2015-09-25 07:18] #224 closed

[2015-09-25 07:21] sils1297 opened #254 "Add coala to avoid simple whitespace problems"
I'll add a coala configuration file that does a bit of light checking to avoid things like the trailing whitespaces in the CHANGES file present in the 2.x-maintenance branch. We can then also use coala to perform real static code analysis provided via pylint.

[2015-09-25 09:36] jun66j5 opened #255 "The babel data files are not available in Babel-2.1.post20150925-py2.py3-none-any.whl"
I tried to install Babel-2.1 wheel package. However the wheel package has no `localedata/*.dat` files. Also `Babel-2.1.post20150925.tar.gz` on PyPI has no *.dat files.

[code]

[2015-09-25 09:41] haypo commented on #224
Hum, the version number 2.1.post20150925 is a suprising. Why not just Babel 2.1?

[2015-09-25 11:08] sils1297 commented on #224
This is my fault and I didn't have time to correct it today morning. Still
it is a valid version number so I left it and I'll probably reupload the
same code with a fixed version todayish.
On Sep 25, 2015 11:41 AM, "Victor Stinner" <notifications@github.com> wrote:

[2015-09-25 11:10] sils1297 commented on #255
Thanks for mentioning. I'll remove the release ASAP. Maintainership changed
and apparently we have made an error during the release process. Thanks for
reporting.
On Sep 25, 2015 11:36 AM, "Jun Omae" <notifications@github.com> wrote:

[2015-09-25 11:16] sils1297 commented on #255
I will make the correct release within the next 1.5 hours approximately.
I'm truly sorry for any issues this caused.

2015-09-25 13:10 GMT+02:00 Lasse Schuirmann <lasse.schuirmann@gmail.com>:

[2015-09-25 11:19] sils1297 commented on #255
The 2.1 release is removed from pypi, due to the heavy limitations of my
mobile internet connection, making the correct release will take more time
as indicated before.

2015-09-25 13:16 GMT+02:00 Lasse Schuirmann <lasse.schuirmann@gmail.com>:

[2015-09-25 11:40] sils1297 commented on #224
The post release version number problem was introduced in commit
2f8ed62038b42c8f228b7422ec18648bdc74d6c1 with the addition of the
`tag_date = true` setting which seems to trigger a post release for
whatever I'm doing. I'll change this to avoid those problems in the
future.

2015-09-25 13:08 GMT+02:00 Lasse Schuirmann <lasse.schuirmann@gmail.com>:

[2015-09-25 12:10] sils1297 commented on #224
I'll be doing a 2.1.1 release soon because of
https://github.com/python-babel/babel/issues/255 , this will make sure
everyone gets the right release for sure and nobody is confused with
any post prefixes (although they are specified in pep 0440).

2015-09-25 13:40 GMT+02:00 Lasse Schuirmann <lasse.schuirmann@gmail.com>:

[2015-09-25 12:30] sils1297 commented on #255
fixed with the 2.1.1 release

[code]

[2015-09-25 12:30] #255 closed

[2015-09-25 12:31] sils1297 commented on #224
Release done. Sorry for all the confusion.

[2015-09-25 12:38] jun66j5 commented on #255
Thanks for the quick fix!

[2015-09-25 12:40] sils1297 commented on #255
@jun66j5 sure, sorry for breaking the release, this was really bad.

FWIW, we already have plans to automate the release process further to avoid such errors in the future, see https://github.com/python-babel/babel/issues/194 .

[2015-09-25 18:29] ENuge commented on #253
Poked at the extraction code, wanted to get a sense of how much time is spent scanning and extracting strings vs actually writing them to the new file.

Hypothesis (and hope): scanning/extracting takes significantly longer. This part of the process we can parallelize. We can't have concurrent writes to the same output file.

Results:
Total time *extracting*: 159.926753521 secs
Total time *writing*

[2015-09-25 20:16] etanol commented on #253
Thanks for the numbers, looks like an interesting case for optimisation.  Once our workflow is a bit smoother, I will take a look on it.

[2015-09-25 21:19] sils1297 opened #260 "Simplify setup.py (DRY)"
In setup.py we can do some simplifications as @etanol pointed out in https://github.com/python-babel/babel/pull/246 .

[2015-09-26 09:31] etanol commented on #165
Duplicate of #201, and solved by #203

[2015-09-26 09:31] #165 closed

[2015-09-26 09:35] etanol commented on #156
Closing, fixed in 2.1

[2015-09-26 09:35] #156 closed

[2015-09-26 09:38] etanol commented on #150
@remyroy thanks for digging deeper.  This, therefore, seems like a CLDR related issue. Closing

[2015-09-26 09:38] #150 closed

[2015-09-26 12:26] sils1297 commented on #150
Could someone file a bug upstream for this/did someone? Otherwise I actually wouldn't consider this issue resolved for us.

[2015-09-26 15:55] #240 closed

[2015-09-26 15:59] sils opened #261 "Update AUTHORS file and maintainers"
Hi, we should avoid @mitsuhiko getting emails from users thinking he is the maintainer. He has agreed that it's the best to name "The babel authors" as authors crediting everyone in the AUTHORS file.

[2015-09-26 16:01] sils1297 commented on #261
Oh and maybe we should write down a nice git command that writes down contributors for each release in the order of number of patches in the current release or so, I find this is a nice way to give explicitly credit to people like @etanol who really drive babel right now versus lazy maintainers like me.

[2015-09-26 16:43] sils1297 opened #263 "Updating the CHANGES file - new concept"
@erickwilder @etanol the changes file is written to at almost every PR and is the main source for conflicts during merge/rebase. I think we should come up with a new strategy here.

How about: whenever some maintainer merges a PR, he changes the CHANGES file and commits that to a `feature/changes` branch which has a Pull Request open which we merge when we do the release? This could be even done v

[2015-09-26 18:11] sils1297 commented on #150
Filed upstream as http://unicode.org/cldr/trac/ticket/8999

[2015-09-26 18:33] etanol commented on #261
As you prefer.  The command is a tempting alternative.  On the other hand, projects as big as Django still maintin the contributor list manually.

My preference is to have such a command: lazyness drives automation.

[2015-09-26 19:09] etanol commented on #106
Already fixed, a couple of times apparently.  Closing.

[2015-09-26 19:09] #106 closed

[2015-09-26 19:16] etanol commented on #90
The CLDR specification section about [number rounding](http://unicode.org/reports/tr35/tr35-numbers.html#Rounding) states that *half-even* should be the default algorithm.  However, it seems that there is room to alternative rounding modes as an implementor decision.

This can be easily implemented once I manage to land my new code that relies on the `decimal` standard package to perform the round

[2015-09-27 12:55] #139 closed

[2015-09-27 21:27] #201 closed

[2015-09-28 10:37] kdeldycke commented on #90
Good ! Didn't know there was a refactor in progress. I especially welcome `decimal`-based code, as I might finally get rid of some dirty workarounds ! :)

[2015-09-28 22:51] etanol commented on #195
The backporting policy has been updated, so this can be closed, right?

[2015-09-28 23:05] etanol commented on #149
Indeed, this is a CLDR bug, closing

[2015-09-28 23:05] #149 closed

[2015-09-28 23:13] etanol commented on #121
This is a CLDR specific issue.  The `kab_DZ.xml` source file from CLDR version 28 contains the following:

[code]

Which means there are no specific definitions for such combinations.  Please submit a bug [directly to CLDR](http://cldr.unicode.org/index/bug-reports)

[2015-09-28 23:13] #121 closed

[2015-09-28 23:33] erickwilder commented on #195
:+1: I agree

[2015-09-28 23:34] erickwilder commented on #263
Sounds good. We can give a try. :+1:

[2015-09-28 23:37] etanol commented on #81
This still happens when you try to use the minute symbol in the format parametr of `format_date`.  Same happens when trying to use the year symbol in te format parameter of `format_time`.

I think the appropriate solution here is to emulate the Python's standard `strftime` behaviour:

[code]

[2015-09-28 23:44] etanol commented on #104
Yes, all XML files in the `supplemental` directory have the same root element, and they will probably easily merged at the DOM level.

[2015-09-28 23:52] etanol commented on #107
I cannot reproduce it, so it has probably been indirectly fixed.  Please reopen if necessary.

[2015-09-28 23:53] #195 closed

[2015-09-29 08:46] jun66j5 commented on #107
Reproduced with Babel 1.3 and 2.1.1.
[code]

The 168 locales have the same issue with Babel 2.1.1.
[code]

[2015-09-29 12:04] etanol commented on #107
Right.  There seems to be a problem with the import script for CLDR 23 in this case.  However, @sils1297 I don't know if we will do more 2.1.y releases or we'd better focus on a near 2.2.

This problem is fixed in both `master` and `2.x-maintenance` (soon to be renamed `2.2`, I guess).

[2015-09-29 12:36] sils1297 commented on #107
@etanol thanks for the clarification. This will be fixed in the 2.2 release then which we will do based on demand or if changes add up after some time simply.

[2015-09-29 12:36] #107 closed

[2015-09-29 12:39] sils1297 commented on #107
@oakes @jun66j5 if there is an active need to get the bugfix released ASAP please say so, then we'll of course backport it and do a release tomorrowish, other than that I'd avoid this because we're currently trying to lower maintenance efforts.

[2015-09-29 12:45] sils1297 commented on #261
I'm always for automation if the same thing can be achieved automating the task, pays off on long term. So, TODOs:

- [ ] Replace author mentions with "The Babel Authors"
- [ ] Add a script that regenerates the AUTHORS file and does a commit with that and the message `[GENERATED] Regenerate AUTHORS`.

[2015-09-29 12:48] sils1297 opened #266 "DOC: Point newcomers to `easy` bugs"
Would be nice to point people interesting in getting started with babel to `easy` bugs.

[2015-10-01 23:40] benselme commented on #150
Just for reference, this was discussed on the cldr mailing-list not very long ago:
http://unicode.org/pipermail/cldr-users/2015-May/thread.html#295

[2015-10-02 14:23] sils1297 commented on #179
This would need to be done via CLDR. https://github.com/python-babel/babel/pull/114 contains a native implementation that might be helpful in order to understand spelling a bit.

[2015-10-04 17:50] etanol commented on #81
On a closer look, this [seems to be the expected behaviour](https://github.com/python-babel/babel/blob/master/tests/test_dates.py#L228).

[2015-10-06 09:33] #260 closed

[2015-10-06 16:35] #108 closed

[2015-10-08 14:27] smn commented on #83
Having the same issue for `kur`:

[code]

[2015-10-08 14:31] sils1297 commented on #83
FWIW

I.e. this issue still applies for Babel 2.

[2015-10-08 15:21] smn commented on #83
It looks like there's nothing around Kurdish in the CLDR zip file that's made available by the Unicore consortium:

[code]

[code]

Any suggestions on who to poke to get this addressed?

[2015-10-08 15:27] etanol commented on #83
Once again, this is a CLDR issue, not a Babel one.  Out of curiosity, [I asked about it](http://unicode.org/pipermail/cldr-users/2015-September/000363.html) and [the answer](http://unicode.org/pipermail/cldr-users/2015-September/000364.html) was that the Northern Kurdish is not mature enough to be considered usable.

Please, feel free to contribute directly to CLDR in order to get Northern Kurdish

[2015-10-08 15:27] #83 closed

[2015-10-08 15:30] smn commented on #83
Thanks for the feedback.

[2015-10-08 16:38] etanol commented on #55
Indeed, the right approach for supporting new locales or updating existing ones is to contribute directly to CLDR.  This way the effort is concentrated since many more libraries and frameworks depend on it.

[2015-10-08 16:38] #55 closed

[2015-10-08 16:46] srl295 commented on #55
if anything, given the above, you could write your files in CLDR format (which you should anyways to contribute to CLDR) and then run the import manually.

[2015-10-08 16:56] etanol commented on #55
@srl295 that wouldn't work.  The CLDR data is imported at *release time*.  That is, as part of the packaging process, the XML files are parsed and a custom serialized format is generated for each locale, so Babel loads locale data faster and in a native way.

API compatibility is maintained as much as possible.  However, the exact format of the babel data files is opaque and not formally defined.

[2015-10-10 09:06] techtonik commented on #263
Alternative workflow ifs to create `CHANGES.techtonik` files that are being merged into CHANGES during release.

[2015-10-10 09:10] techtonik opened #273 "Detect if existing .pot file needs to be updated"
Sphinx uses Babel. And while generating `.pot` file it adds timestamps. Many timestamps. Even if `.pot` file content stays the say. Is it possible to use Babel to detect if existing `.pot` file needs to be regenerated?

Started in https://github.com/sphinx-doc/sphinx/issues/2073#issuecomment-146950096

[2015-10-10 11:03] sils1297 commented on #273
Hi @techtonik , realistically nobody will work on this feature request soon because we don't have manpower to address feature requests. I'm happy to assist you if you want to implement it. At any time you can ping me with my github username on https://gitter.im/python-babel/babel , others may help you too there :).

[2015-10-10 11:37] sils1297 commented on #162
As pointed out in https://github.com/python-babel/babel/pull/92 this can be reproduced with the latest release.

[2015-10-10 12:47] techtonik commented on #273
@sils1297 when Babel reads `.pot` file, is it a structure that can be easily compared? The same stuff is for building - is the structure that Babel is about to write into `.pot` is the same as the one produces when reading `.pot`s?

[2015-10-10 14:36] sils1297 commented on #273
Nope. See https://github.com/python-babel/babel/blob/master/babel/messages/frontend.py#L311 , you may want to implement a content equality comparison operators for the Catalog class and add an option for what you desire. I'm not sure if we want it to be active by default because it'll have a performance impact.

[2015-10-10 17:15] techtonik commented on #273
@sils1297 looks like `write_po` should be a method in a POFile class that encompasses state and options passed as function parameters. https://github.com/python-babel/babel/blob/master/babel/messages/pofile.py#L337

[2015-10-10 17:42] sils1297 commented on #273
@techtonik well this is historically grown and nobody around has time to do a proper refactoring here.

[2015-10-10 18:03] techtonik commented on #273
Ok. I may look into it some day.

[2015-10-13 13:07] sils1297 opened #275 "CI System is not stable"
We seem to have nondeterministic errors in the builds at times. We should check that out further. Really.

[2015-10-14 06:34] sils1297 commented on #263
We could also just collect them on a wiki page *or* simply update the changes file when we're doing a release by crawling the commit history. I'm collecting changes here now: https://github.com/python-babel/babel/wiki/CHANGES

[2015-10-14 10:48] xmo-odoo opened #276 "Add support for formatting intervals"
The LDML has defined an `intervalFormats` for locale-aware interval formatting since [UTS#35 revision 10](http://unicode.org/reports/tr35/tr35-10.html). Since Babel has added support for formatting durations (timedeltas) it would be convenient to support intervals as well.

[2015-10-14 11:06] sils1297 commented on #276
@xmo-odoo thanks for proposing this, we're happy to accept pull requests, probably no time to do this soon on our own.

[2015-10-14 11:33] xmo-odoo commented on #276
@sils1297 is there documentation for the current content of locale dat files (and/or the mapping between the CLDR and locale dat files) aside from the import script and localedata.py? I tried looking quickly if the interval formats were currently parsed/stored but that doesn't seem to be the case so it looks like this issue would require alterations to the CLDR import script, that correct?

[2015-10-14 13:12] sils1297 commented on #276
@xmo-odoo sorry, I'm not that much into this and can't help you without more time effort. Try asking on gitter, @etanol usually knows his way around :)

[2015-10-14 16:02] etanol commented on #276
@xmo-odoo Yes, the import script does **not** process all the locale features described in CLDR.  So, whenever we need to implement new functionality from the XML files, we change the import script first.

The `.dat` files are just `pickle` files.  There is no formal documentation because those files are tightly coupled to the package and **not** intended to be exchanged or reused across releases.

[2015-10-15 09:10] AlmogCohen commented on #157
maybe we should add some flag which change the behavior? You must admit that this behavior is very quirky and unexpected when using babel?

[2015-10-15 09:45] sils1297 commented on #157
@erickwilder @etanol could I have your attention for this bug please? I *do* think this deserves a change, the behaviour of gettext in this case is totally bogus. However it breaks a defined API if we do it. Adding some flag which needs to be enabled explicitly might be a solution. I could see us changing the default on that for Babel 3 as this is indeed an API breaking change and thus needs a new

[2015-10-15 10:22] jun66j5 commented on #157
I found another way to retrieve metadata of MO file using `info()` method of `gettext.NullTranslations`.
[code]
I'm going to change my Trac plugin with the `info()` method.

[2015-10-15 11:31] etanol commented on #157
I'd appreciate a simple made up example for this particular scenario.

[2015-10-15 11:50] xmo-odoo commented on #276
Thanks @etanol

After more spec-reading to see if I could implement it quickly, it looks like this requires way more work than I'd originally expected:
* intervals use skeletons so #265 and closest-match resolution (which #265 doesn't seem to include) are probably needed
* it also requires extracting parts of `parse_pattern` to get and split fields sequences, not sure whether DateTimePattern shoul

[2015-10-16 09:25] slimakovec commented on #53
why isn't the branch still merged? And most importantly - why this issue exist after 3 years?!

[2015-10-16 09:26] AlmogCohen commented on #157
@sils1297 Thanks for the attention and the detailed response. No need to translate empty string to something else. Translating to just old simple empty string will be quite enough!

[2015-10-16 09:36] sils1297 commented on #53
@slimakovec I can't find a PR associated with that commit apart from it being incomplete as mentioned in the commit message.

Babel was unmaintained for a long time. This time is more or less over and Babel does receive light maintaining from a few people now, we're sorry that so many issues still exist but time is a precious resource. We are happy to accept and review pull requests that solve thi

[2015-10-30 03:40] willkg commented on #202
In your babel.cfg file, if you add:

[code]

to the jinja: section, then that'll give you warnings when it can't parse Jinja2 templates. See if that sheds light on your situation.

[2015-11-06 19:20] zackargyle opened #280 "React Support"
Hey guys,

We are using React for newer projects, and it would be great to have lexer support for JSX syntax. As an example, all three strings are not picked up. In one place only String 2 is picked up, where in another place String 1 and String 3 are picked up, but not String 2. Adding JSX support should fix the "randomness".
[code]

Seems to not be consistent for `const` in ES6 classes as well.

[2015-11-07 10:36] mitsuhiko commented on #280
I wonder if we can use babel (the js one) to parse it.

[2015-11-11 20:54] upman commented on #261
@sils1297 I'm working on this.
What do we do with author_email in `setup.py`?

[2015-11-12 07:09] sils1297 commented on #261
@upman we may just remove the field

[2015-11-12 09:20] tsouvarev opened #281 "Add keyword specification for npgettext"
Something like:
`npgettext: ((1, 'c'), 2, 3)`
(django-babel already [supports](https://github.com/python-babel/django-babel/commit/5442d21f57c78944b59651534c9664a2c8ff61b7) it)

[2015-11-19 16:40] mpkuth opened #283 "Locale __init__/parse inconsistencies"
Babel 2.1.1, Python 2.7.5
<hr>
`Locale.parse('en_US')` returns `Locale('en', territory='US')`
but
`Locale('en_US')` returns `Locale('en_US')`
when I would expect
`Locale('en_US')` returns `Locale('en', territory='US')` or `UnknownLocaleError`
<hr>
`Locale.parse(12)` intentionally raises `TypeError: Unxpected value for identifier: 12`
but
`Locale(12)` causes an uncaught `TypeError`
[code]

[2015-11-24 23:00] zackargyle commented on #280
That's what I ended up doing in my jenkins job. Run it through babel, then extract. Wasn't too big of a deal, but build-in support could be nice.

[2015-11-25 08:23] ongbe opened #284 "msys2 Can not find Windows timezone configuration"
msys2/mingw32/lib/python2.7/site-packages/babel/localtime/_win32.py", line 77, in get_localzone_name
    raise LookupError('Can not find Windows timezone configuration')
LookupError: Can not find Windows timezone configuration

[2015-11-25 09:17] mitsuhiko commented on #284
Ugh. I hate msys2 so much.  I wonder if we can just detect it and disable timezone data there.  I don't think there is a good way to get access to the windows timezone data.

[2015-11-27 05:30] #154 closed

[2015-11-30 22:08] albertvaka opened #285 "Babel does not support ISO 639-2 language codes"
Trying to call `Locale.parse` from an ISO 639-2 language code [1] like «ast» throws an `UnknownLocaleError`.

Can you add support for these kind of three-letter language codes?

[1] http://www.loc.gov/standards/iso639-2/php/code_list.php

[2015-12-01 09:55] sils1297 commented on #285
We do try to look at PRs as fast as possible. That's usually not very fast. You're free to support us with your PR for this issue and with helping us reviewing PRs. If you're interested to help, come and sync with us at https://gitter.im/python-babel/babel .

[2015-12-01 09:55] sils1297 commented on #285
That sadly means that probably nobody from us will have time to fix this. :/

[2015-12-01 11:12] albertvaka commented on #285
Sorry, false alarm. It actually is working :)

The script `download_import_cldr.py` already points to a CLDR that includes three-letter languages. It's not the latest CLDR (version 26 instead of 28), but it's up-to-date enough for me. I just had to uninstall and reinstall Babel to trigger the script again and now my locale-data directory is populated with all the ISO 639-2 languages.

Sorry again

[2015-12-01 11:12] #285 closed

[2015-12-01 12:12] sils1297 commented on #285
No problem :)

2015-12-01 12:12 GMT+01:00 Albert Vaca <notifications@github.com>:

[2015-12-02 01:14] ENuge opened #286 "Documentation for ** in pybabel configs misleading/confusing"
Specifically this line: "In addition, two subsequent asterisk characters (**) can be used to make the wildcard match any directory level, so the pattern **.txt matches any file with the extension .txt in any directory.", from http://babel.pocoo.org/docs/messages/#extraction-method-mapping-and-configuration .

We had an ignore rule: [ignore: **._*.py] that, based on the above, should match any file

[2015-12-08 22:19] imankulov opened #287 "CLDR parser is probably broken (invalid plural forms)"
While trying to import data from CLDR with babel I encountered some issues which I would like to share.

- Version 2.1.1 installed with pip returns invalid number of plurals at least for Turkish (tr) and Hungarian (hu). According to babel, both languages have only one form, while [in fact they have two](http://www.unicode.org/cldr/charts/28/supplemental/language_plural_rules.html#hu): `one` and `o

[2015-12-08 22:25] sils1297 commented on #287
@etanol have some time to look at this?

@imankulov thanks for reporting, we're seriously understaffed (nobody with actual time for this project is around :/) and are pretty much unable to do anything right now, if you would like to help you're very welcome and with a bit of luck @etanol has a hint.

[2015-12-08 22:27] imankulov commented on #287
Would love to have some input to ensure that it's a bug indeed, and not me doing something wrong...

[2015-12-15 09:57] nhubanov opened #288 "format_date is wrong for Lithuanian long format"
The correct case of the month when used with year and day in a date is genitive. Currently it's using nominative case.
Example:

    from babel.dates import format_date
    from datetime import date

    format_date(date(2015, 12, 10), locale='lt_LT', format='long')
    u'2015 m. gruodis 10 d.'

Expected:

    format_date(date(2015, 12, 10), locale='lt_LT', format='long')
    u'2015 m. gruodžio 10

[2015-12-20 20:09] akx opened #290 "Update to and support CLDR v28"
[CLDR v28 was released on 2015-09-17.](http://cldr.unicode.org/index/downloads/cldr-28)

Would be nice to support it.

EDIT: Oops, this seems to be a duplicate of #99/#165/#226.

[2015-12-20 20:09] akx commented on #290
(I'm working on this.)

[2015-12-20 20:18] gitmate-bot opened #291 "Documentation: Add listing of CLDR features"
As an aside, it would be nice to have some sort of table listing the CLDR features Babel currently supports (and probably a list of those it doesn't, too).

[2015-12-20 20:32] akx commented on #287
I'll check this out in the course of #290 :)

[2015-12-20 20:40] akx commented on #288
I'll take a look at this in the course of #290.

[2015-12-20 21:01] akx commented on #287
@imankulov: Preliminary investigation does seem to point to this being an actual bug, in particular `pluralRule` parsing entirely ignoring `other` rules. Removing the ignore condition uncovers plural rule parsing errors, so it's a slightly bigger issue...

[2015-12-20 21:12] akx commented on #287
Actually, hmm, @imankulov: The `other` rules in the `hu` and `tr` locales have no associated expression, so it's expected that there is no `other` entry in `locale.plural_form.rules`.

[2015-12-20 21:40] akx commented on #288
@nhubanov: This does not seem to be a problem with the current master (cc02cd1e936d632897). Could you confirm the version of Babel you were using?

[2015-12-20 22:14] nhubanov commented on #288
I am testing with Babel 2.1.1, python 2.7.10 on OS X Yosemite 10.10.5

[2015-12-20 22:26] akx commented on #288
Thanks, @nhubanov.

In that case I can confirm [it was an error in CLDR 23.1, the version used by Babel 2.1.1](http://unicode.org/cldr/trac/changeset/10669/trunk/common/main/lt.xml).

Versions since 546755f77b98a4ae4ddc29cb4c44b81cd88a31b1 (that use CLDR 24 or newer) will have fixed this.

[2015-12-20 22:52] akx opened #293 "Doctests not being run in Python 3 CI tasks"
Compare:

* https://travis-ci.org/python-babel/babel/jobs/98005907#L853 (`collected 383 items`)
* https://travis-ci.org/python-babel/babel/jobs/98005904#L858 (`collected 510 items`)

Is this on purpose? If doctests are enabled with the `--doctest-modules` flag to `py.test`, there are multiple errors as doctests are not written in Python 3 compatible syntax.

[2015-12-20 22:55] akx commented on #293
... and if `--doctest-modules` is added in the Python 2 environment, there's a total of `647 items`, and even more failures.

[2015-12-20 23:06] akx commented on #293
Ah, wait... 75752cd1ddfe417d1ba448eeacc26d2801a93d43 seems to be the thing here.

[2015-12-21 09:24] akx commented on #293
So yeah, this will be fixed by PR #294.

[2015-12-21 09:47] #288 closed

[2015-12-21 09:47] #293 closed

[2015-12-21 23:46] imankulov commented on #287
@akx thanks a lot for looking into this!

I believe `other` rules don't have any expression in many (if not all) languages in CLDR, and thus I find it valid that there's no expression for `other`. Hungarian and Turkish rules look okay for me in version installed from git (but most likely they are broken in current stable version).

The git version has a different issue: rules at least in Russian a

[2015-12-22 08:09] akx commented on #287
@imankulov Thanks for the clarification. :) The CLDR database version (23.1) used by Babel 2.1.x is fairly old (from May 2013), so it's no wonder more recent Git versions, using CLDR 24/26/28 have fixed rulesets.

The forbidden symbol issue has a fix in #295; since Gettext doesn't support the floating-point variables, the patch makes them (`v`, `w`, `f`, `t`) compile into static zeroes and aliases

[2015-12-22 10:21] imankulov commented on #287
@akx Great to know! Looking forward to having it merged :)

[2015-12-22 10:27] sils1297 commented on #287
@imankulov can you take a look at the commit (or did you do it already?)

[2015-12-23 17:09] akx opened #296 "Improve configurability when using CLI"
(This was originally posted on Gitter by @Itxaka.)

[2015-12-23 17:27] akx commented on #222
Babel seems to work fine on my Windows x64 Python 3.5 setup.

[2015-12-23 18:02] sils1297 commented on #222
@akx cool, would you mind adding python 3.5 to the travis.yml and appveyor config so we have builds against that?

[2015-12-23 18:49] #222 closed

[2015-12-23 19:57] akx commented on #129
Hey @Kris2k!

I took a look at your issue, and you're correct in that Babel currently doesn't actually ever output "UTC" there. However I'm really not sure what would be the best output, as there doesn't seem to be consensus across languages/libraries regarding this:

## Python/Babel (your example)

[code]

## Java

[code]

## .NET (via PowerShell)

[code]

## ICU v56 (C API)

[code]

---

As you

[2015-12-23 20:00] akx commented on #215
The +-60 bug was fixed by d816803400444d116ec285c38d6367d08a17b374, it seems.

I'm wondering whether FixedOffsetTimezone should exist in Babel at all...

[2015-12-23 20:26] akx commented on #111
Hey hey hey @chronossc!

You're correct -- this is definitely what's happening with Babel at present. However, the problem isn't directly Babel's, but the Unicode CLDR repository we draw our data from is at fault here (see the "CLDR reference" link in the list below). I googled around a little to find other reference links too. Some sources would indicate DD/MM/YY is the correct format for es_PA,

[2015-12-23 20:46] akx commented on #148
Yup, the tokenizer only got the last `name` of a dotted expression. The above PR adds support for dotted names when required. :)

[2015-12-29 16:07] akx commented on #67
I think this issue is obsolete (or rather, already complete) since commits 546755f77b98a4ae4ddc29cb4c44b81cd88a31b1..e3bc00c7c3569046ac9ac1358de820738f7023db switched us to CLDR 24, then to 25 and finally to 26?

[2015-12-29 21:12] etanol commented on #226
Moving the focus to #290

[2015-12-29 21:12] #226 closed

[2015-12-29 21:12] etanol commented on #165
Moving the focus to #290

[2015-12-29 21:22] etanol commented on #275
Does #302 fix this?

[2015-12-29 21:24] sils1297 commented on #275
@etanol no, that was deterministic. Though I didn't see any problems for some time now...

[2015-12-29 21:37] akx commented on #275
I'd say close this and reopen if problems reappear?

[2015-12-29 21:50] #275 closed

[2015-12-30 15:08] #162 closed

[2015-12-30 15:09] akx commented on #283
Well, `Locale()` is meant to construct a locale exactly as you tell it to, but I do see your point.

I see two approaches:

* Make the Locale constructor a "do what I mean" API, and have it use the same logic as `Locale.parse()` if the given locale is not `.isalpha()`.
* Error out in the constructor if the locale is not alphabetical.

[2015-12-30 15:57] mpkuth commented on #283
IMO, keeping `Locale.parse` and `Locale(language, territory=None, script=None, variant=None)` separate is a good thing. I believe that the core of the issue when using the constructor is the validation logic that currently reads as follows.

[code]

The problem is that `str(self)` returns the same thing for both `Locale('en_US')` and `Locale('en', territory='US')` objects. The first is not valid b

[2015-12-30 16:15] akx commented on #283
The alias tables don't contain every language/territory/script/variant there is, though.

Maybe if we start by validating the pieces to be alphabetical if they exist, and then build up to more precise validation later?

[2015-12-30 16:46] mpkuth commented on #283
Forgive me as I haven't dug too deeply into the code, but if those tables aren't complete and you can get a `Locale` object with a language/territory/script/variant that isn't there then how is it useful? i.e. How does it know what to return for formatting and other functions?

In any case, if you can't look it up directly then ensuring that each piece is only alpha or only alpha/num and of the co

[2015-12-30 16:54] akx commented on #283
Those are _alias_ tables, such as

[code]

that map previously/occasionally used names into the canonical names used by the CLDR.

The actual knowledge of which locales are available stems from the existence of a `.dat` file for the particular locale identifier.

[2015-12-30 17:32] akx commented on #280
Adding rudimentary JSX support shouldn't be too hard. Working on it!

[2016-01-01 23:02] #290 closed

[2016-01-02 13:18] fschulze opened #312 "Anything blocking a 2.2.0 release?"
Are there any blockers preventing a 2.2.0 release? Anything one can help with to make the release?

[2016-01-02 13:43] sils1297 commented on #312
Nope, @etanol @akx if you don't object I'll do a release today.

[2016-01-02 14:19] akx commented on #312
I'm fine with it in principle.

Like I said in #292 (the CLDR 28 PR),

and I guess that applies for the release too.

[2016-01-02 14:22] akx commented on #312
Oh, and of course it'd be nice to get more features/bugfixes merged in before release (aside from my PRs, #265 looks nice?).

OTOH I do understand wanting a release featuring just CLDR 28 out.

[2016-01-02 14:42] sils1297 commented on #312
@akx how do we get those PRs reviewed? Do you think we should make our review policy less strict because of our lack of manpower?

[2016-01-02 14:47] akx commented on #312
@sils1297

No, imho a strict policy is better than subpar code in master.

I guess it's fine to do a 2.2.0 release with the current changes, then release more often as we get stuff reviewed. :)

[2016-01-02 14:53] sils1297 commented on #312
Changelog needs to be updated, will do the release after that.

[2016-01-02 19:35] akx commented on #312
https://github.com/python-babel/babel/releases/tag/2.2.0 :)

:fireworks:

[2016-01-02 19:35] #312 closed

[2016-01-02 20:30] fschulze commented on #312
Thanks!

[2016-01-03 13:00] Jellofishi opened #314 "installing via pip is broken in 2.2.0"
error message from pip:

error: Couldn't find a setup script in /tmp/easy_install-MO20m3/Babel-2.2.0.linux-x86_64.tar.gz

[2016-01-03 13:24] sils1297 commented on #314
Hm, for me it seems to work:

[code]

Are you using pip2 or pip3? Can you provide more details?

[2016-01-03 13:27] sils1297 commented on #314
@Jellofishi I've removed `Babel-2.2.0.linux-x86_64.tar.gz` from pip, that one was new, apparently causes problems. Can you retry installation now?

[2016-01-03 19:47] etanol commented on #314
It works for me too

[2016-01-03 19:57] sils1297 commented on #314
@Jellofishi reopen if you still have this issue :) should work now though.

[2016-01-03 19:57] #314 closed

[2016-01-03 22:15] akx commented on #276
I'll take a look at this. :)

[2016-01-03 22:36] akx commented on #276
For what it's worth, @xmo-odoo, it looks like closest-match resolution might not be needed for an MVP (though I'll look at implementing that too). The skeletons provided by CLDR 28 at present seem to be fairly homogeneous, aside from a couple outliers (at the bottom).

[code]

[2016-01-04 20:19] Kris2k commented on #129
Wow, it have been so long ago that I forgot about it. In the end I think I managed to either get correct formatting for UTC time based on the system settings, or I just stopped to care about the format.

Unfortunately I don't have access to code/solution in question so I can close this one, or if someone have it then pleas post it for others to benefit.

[2016-01-07 08:11] akx opened #317 "currency_formats format changed between 2.1.x and 2.2"
The `None` key disappeared from `currency_formats` between 2.1.x and 2.2, making usages such as this https://github.com/shoopio/shoop/blob/5c5a9cd1193edcfe34693fc5b6c734a3f9528d8a/shoop/utils/i18n.py#L67 break when upgrading to 2.2.

I'm not sure if this is an actual bug, as the "solidity" of the CLDR-derived data dictionaries is admittedly a bit of a gray area API-wise.

[2016-01-07 08:14] sils1297 commented on #317
@akx can we work around that? If not can you add a note to `CHANGES`, make a PR for it?

[2016-01-07 08:40] akx commented on #317
Hmm, I'm not sure what's a good workaround tbh. I can think of some ideas:

* Teach LocaleDataDict about some sort of fallback map (`{None: "standard"}` in this case) and make it use that in `__missing__`/`.get`, but if the grander plan is to get rid of LocaleDataDict altogether, as per @etanol 's implementation  (which sounds like a good idea simplicity-and-performance-wise), that won't do us muc

[2016-01-07 15:12] etanol commented on #317
This was a result of a CLDR 26 importing fix, see #201 and #203.  The example by @akx makes use of internal data structures, not the documented API.  We must try very hard to maintain API compatibility.  However, as with every Python package, users relying on internal details should assume the breakage risk.

Feel free to close this issue if the explanation is satisfactory.

[2016-01-07 15:48] akx commented on #317
@etanol: `Locale.currency_formats` is a public API though (documented and not marked with an underscore).

As said though,

Maybe it'd be a good idea to add an admonition to the CLDR data properties that their internal formats may change between releases.

[2016-01-07 20:07] ajaeger opened #318 "update_catalog removes translators"
Since the release of babel 2.2.0, we see in OpenStack that the header comments get modified and the list of translators gets removed:

[code]

neutron.pot file starts with, it's created with extract_messages:

[code]

How can we keep the translators in here?

Reference:
https://review.openstack.org/#/c/263140/4/neutron/locale/tr_TR/LC_MESSAGES/neutron.po

[2016-01-07 20:53] akx opened #319 "Add disclaimer note for territory_language data precision"
In #315:

[2016-01-07 20:57] akx commented on #318
This is probably introduced by the otherwise seemingly harmless https://github.com/python-babel/babel/commit/e0e7ef168856bb431076cfe45f6c456d12091233 commit.

Are you able to patch your local Babel to revert that change and see if that fixes it? If so, I suppose we'll have to add a switch for this behavior...

[2016-01-07 20:59] akx commented on #317
Self-assigning to remember to add that admonition.

[2016-01-07 21:07] ajaeger commented on #318
Indeed, reverting that change does not cause the problem.

[2016-01-08 08:21] akx commented on #318
Thanks for helping out there, @ajaeger. The fix is in the referenced PR #320.

[2016-01-08 08:33] ajaeger commented on #318
Thanks a lot for the fast fix, @akx !

[2016-01-08 08:46] sils1297 commented on #318
@ajaeger would you mind reviewing it? Babels biggest issue is atm that we're not able to review stuff fast enough. Any help here would speed this up and be deeply appreciated! (Though @akx has to fix coverage first.)

[2016-01-08 11:50] #317 closed

[2016-01-08 13:07] #318 closed

[2016-01-11 09:15] #319 closed

[2016-01-12 06:58] datoug opened #323 "memory leak?"
Our python application uses babel 1.3 and it has a memory leak. I used heapy to dump the objects that use the most memory, and it seems the strings are referenced from babel(core.py):

 Index  Count   %     Size   % Cumulative  % Referred Via:
     0     14   0   642896   3    642896   3 "['languages']"
     1     15   0   274536   1    917432   4 "['territories']"
     2     14   0   224672   1

[2016-01-12 07:35] akx commented on #323
That's most definitely locale data.

I could see that happening if you repeatedly construct new `Locale` objects (either via the direct constructor `Locale()` or `Locale.parse()` (or any other method that might build Locales)) and stores references to them. Can you use Heapy to find out where `Locale` objects get referenced?

What sort of application is this? For instance, if it's a webapp, is it

[2016-01-12 22:13] item4 opened #325 "Support more format for timezone"
# Overview Description

I cannot use `XXXXX` or `ZZZZZ`

# Steps to Reproduce

See this `pycon` log

[code]

# Actual Results
`ValueError: Invalid length for field: 'ZZZZZ'` ... etc.

# Expected Results

`ZZZZZ` → `+09:00`
`XXXXX` → `+09:00`

# Reproducibility

100%, Repeat my code.

# Additional Information:

Python 2.7
Mac OS X

See [Date Field Symbol Table](http://unicode.org/reports/tr35/tr35-

[2016-01-12 22:16] item4 commented on #325
Why it labeled with invalid ?

[2016-01-12 23:09] akx commented on #325
@gitmate-bot is being cranky, don't worry about it. (ping @sils1297 :) )

Thanks for the brilliantly specific bug report!

It seems ZZZZZ was added in TR 35 Revision 23:

and we simply don't have support for that yet.

If you feel like getting your hands dirty, we would appreciate a PR implementing this. :)

[2016-01-13 00:13] item4 commented on #325
@akx I consider make a PR. But I have question, where I can see version change log spec and limitation of python-babel supporting

[2016-01-13 07:46] sils1297 commented on #325
@akx I've done some label renaming so GitMate won't autoapply some labels that don't make sense like invalid.

[2016-01-13 07:47] akx commented on #325
@item4:

The changelog is here: https://github.com/python-babel/babel/blob/master/CHANGES

What do you mean with "limitation of python-babel supporting"?

[2016-01-13 11:05] item4 commented on #325
@akx oh, sorry for my poor english :(

Can I know babel team's want's to support version of spec.

[2016-01-13 11:09] rocambolesque opened #326 "format_currency does not work with euros"
After upgrading to 2.2.0 from 2.1.1, format_currency does not work anymore.
Here's the code and the output from the 2 versions:
[code]

The code behind format_currency has changed and now the format is not respected because the currency 'EUR' is not present in the 'currency_fractions' global, see here https://github.com/python-babel/babel/blob/master/babel/numbers.py#L329.

Is there a new way of d

[2016-01-13 13:08] akx opened #327 "Figure out why documentation is building flakily"
This was noticed by @wichert on Gitter.

[code]

[2016-01-13 13:51] sils1297 commented on #327
@akx that nondeterministic or dependent on python version or so?

[2016-01-13 13:54] dan-may opened #328 "npgettext strings not extracting"
I've been creating a comprehensive POC for translating a Flask app, which implements Flask-Babel. My issue is with the pybabel extraction command however, so I am posting the issue here.

I have tested the variations of gettext and they all work except for npgettext, where strings marked up with this method are not appearing in my POT file when extracted. The strings appear when rendered, though,

[2016-01-13 18:03] akx commented on #326
Try adding the `currency_digits=False` kwarg.

@etanol: Maybe `currency_digits` should have no effect when an explicit format is passed in?

[2016-01-13 18:04] akx commented on #325
@item4 Don't worry about it!

We're targeting Python 2.6, 2.7, 3.3, 3.4 and 3.5. Does that answer your question? :)

[2016-01-13 19:54] etanol commented on #326
The old `format_currency` behaviour did not follow [the official recomendation from CLDR](http://unicode.org/pipermail/cldr-users/2014-November/000147.html) so it was changed, but with an option to force it.  As @akx mentioned, try with adding `currency_digits=False`.

Please review #127, #139 and #143.

[2016-01-13 19:54] #326 closed

[2016-01-14 09:15] everyonesdesign opened #329 "Template strings support in JS lexer"
It seems that [ECMAScript2015's Tempate strings](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/template_strings) breaks Babel's Javascript parsing.

That's sad, because it's supported quite well in latest browsers.

It would be great if Babel supported this feature.

[2016-01-14 09:20] akx commented on #329
Entirely possible to implement!

There are PRs in the pipeline to improve JSX and dotted name parsing (#310 and #298 respectively).

However, a question:

Are you planning to use template strings in conjunction with translation, like

[code]

or would you just like to see parser support for plain template strings?

[2016-01-14 09:22] rocambolesque commented on #326
Ok thanks. FYI people using flask-babel can not upgrade to babel 2.2.0 as flask-babel 0.9 (last version to date) does not support this parameter.

[2016-01-14 09:24] sils1297 commented on #326
@akx you read my mind...

@rocambolesque see https://github.com/python-babel/flask-babel/issues/83 :)

[2016-01-14 09:28] everyonesdesign commented on #329
Well, I planned to use this way:

[code]

But, actually, it's not the best idea to put markup directly to strings.
After checking out your examples I see that the issue is not so easy to implement due to multiple usage ways.
Anyway, it would be great if there was a best practice or a recommendation on its usage and we could stick to it.

[2016-01-14 09:29] akx commented on #328
Hey @dan-may, thanks for the report.

It looks like [`npgettext` is actually not in the default keyword mapping](https://github.com/python-babel/babel/blob/a4cd0e37900d413b02ddb6789358fb54c71d0261/babel/messages/extract.py#L32-L42), which certainly explains this!

If you feel like it, feel free to make a PR that adds it there. Would be much appreciated!

For a quick fix, you can [configure the key

[2016-01-14 09:31] akx commented on #296
Hmm, https://github.com/python-babel/babel/pull/311 might have actually implemented this, considering

@Itxaka, if you're around, could you test if what you need is possible with the current Git master version? :)

[2016-01-14 10:17] akx commented on #329
Ah, that (parsing the `${ }` expressions within templates) should also be possible to implement. I didn't think about that :)

But sure, this definitely looks like something to implement along with the other JavaScript extraction improvements! :)

[2016-01-14 10:20] akx commented on #115
#309 will fix this in the sense that it will become impossible to create a `en_us` locale (should be `en_US`).

[2016-01-14 10:21] akx commented on #90
@etanol, @kdeldycke: Is this issue still valid?

[2016-01-14 10:29] etanol commented on #90
Yes, in fact, now that #272 has been merged, it is *easier* to implement.  Although I have a design dilemma:

1. Adding a parameter to optionally specify the rounding mode
2. Forcing the use of [decimal contexts](https://docs.python.org/3/library/decimal.html#context-objects) to override decimal parameters

The first option should be implemented by using a string identifier, since `decimal` and `c

[2016-01-14 11:12] dan-may commented on #328
Thanks for the info and directing to the specific code. Will review this weekend and hopefully do a PR then.

[2016-01-14 16:09] Itxaka commented on #296
Nice! Will test and report back!

[2016-01-14 16:35] Itxaka commented on #296
Umm, seems not to work exactly as expected.

For reference, we are using it on https://github.com/openstack/horizon and this are the keywords set up in setup.cfg:

[code]

When using:
```python setup.py extract_messages -F babel-django.cfg -o horizon/locale/django.pot --input-dirs horizon/```

I get the proper extraction of all messages.

When using:
```pybabel extract -F babel-django.cfg -o horiz

[2016-01-14 16:39] akx commented on #296
Thanks for the investigation! Will have to look into that. :)

[2016-01-15 11:07] akx opened #330 "Extract: add input-dirs compat alias for new input-paths"
We don't want to break CLI API between minor releases, so add an input-dirs argument alias for the newly renamed input-paths.

Refs #324

[2016-01-15 14:53] etanol commented on #243
We'll leave this kind of testing as manual, and close this issue preventively to remove noise from the issues list.  Reopen when necessary.

[2016-01-15 14:53] #243 closed

[2016-01-15 14:55] #221 closed

[2016-01-15 14:56] etanol commented on #67
I'm closing this to reduce the issue noise.  Reopen if necessary.

[2016-01-15 14:56] #67 closed

[2016-01-18 10:55] gregmuellegger opened #331 "Dead link on PyPI page to documentation"
The link called "Package Documentation" on https://pypi.python.org/pypi/Babel directs to a dead end: http://babel.pocoo.org/en/docs/

Seems like http://babel.pocoo.org/en/ is the correct URL.

[2016-01-18 11:04] sils1297 commented on #331
@gregmuellegger thanks! I'll fix that for the next release.

[2016-01-18 16:58] sils1297 commented on #331
Apparently somebody uploaded an index.html for the documentation at some point that forwarde from pythonhosted to the URL, as there is the homepage link anyway it's quite useless though. I haven't found a way to remove that thing so far (though I'm kind of sick and can't think straight.) Maybe we have to replace it by a new index.html which forwards to the new domain.

[2016-01-18 17:12] sils1297 commented on #254
we do that already

[2016-01-18 17:12] #254 closed

[2016-01-18 20:19] sassanh opened #333 "New style python-brace-format translations"
Can we have support for python-brace-format translations?

[2016-01-22 18:24] akx commented on #333
This seems related to #35, #80.

[2016-01-23 11:43] sassanh commented on #333
It may be related but not included in those issues.

[2016-01-23 19:49] #276 closed

[2016-01-25 10:00] kdeldycke commented on #90
All my hacks above works for Babel 2.1 but not in Babel 2.2.

While waiting for @etanol progress, I've updated all my code above bypassing Babel 2.2's rounding. The result is quite convoluted but that's the only way I found to patch the original methods.

I even wrote unit-tests and was pondering the release of a dedicated Python package to monkey-patch Babel's defaults. In the end I was too lazy

[2016-01-25 10:33] akx commented on #90
Hey @kdeldycke, would you be interested in making a PR that folds the unrounding versions in as, say, a `rounding=True` kwarg for the formatting functions? And would @etanol be okay with that?

[2016-01-25 12:49] kdeldycke commented on #90
@akx why not. The thing is, my unrounding method is quite hackish as it consist in updating, in a non-destructive way, the CLDR patterns definition on the fly. I'm quite certain @etanol had a cleaner implementation in mind, solely based on Python"s ``decimal`` module.

[2016-01-25 13:50] akx commented on #90
@kdeldycke Hmm. Well, if you can come up with a less hackish way, that'd be nice too? :D

[2016-01-27 18:07] sudheesh001 commented on #235
@sils1297 Looks like this is already fixed, the gitter link is available in the `README.md` file, Maybe this issue is good to close.

[2016-01-27 18:08] sils1297 commented on #235
Oh yeah I think I just forgot to close this - thanks!

[2016-01-27 18:08] #235 closed

[2016-01-28 09:11] #266 closed

[2016-01-28 19:37] jtwang commented on #111
@akx - Actually, can we talk about "patch overlay"? We implemented an overlay system in our fork of babel and, if this is something that would be useful to other people, we'd be super happy to have it live in 'real' babel. :)

This seems possibly related, but maybe only vaguely so to #30 .

[2016-01-28 21:08] akx commented on #111
@jtwang Sure, we can talk. :D Maybe open up a new issue for discussion and tell us what your fork has?

[2016-02-01 11:51] sudheesh001 commented on #53
@nandoflorestan Your code seems like a great headstart for me as a new contributor to babel to pick and solve. I will give this a shot and try to fix this.

[2016-02-01 12:18] nandoflorestan commented on #53
@sudheesh001 that's great news, thanks!

[2016-02-02 22:29] #77 closed

[2016-02-02 22:29] #79 closed

[2016-02-03 17:56] #330 closed

[2016-02-03 21:12] #281 closed

[2016-02-03 21:12] #328 closed

[2016-02-04 02:35] sudheesh001 commented on #82
Both the links given hit a 404 page, I understand that the changes needed are in
`class extract_messages(Command):` but I already see
[code]
in update catalog, should this be carried over to the `user_options` in `extract_messages` ?

[2016-02-04 02:49] rjollos commented on #82
Updated the links.

[2016-02-05 16:28] #325 closed

[2016-02-05 18:13] Sayanc93 commented on #44
Hey what api you're talking about? I looked up #40 but the link gave me 404
If you could direct me to the API for the documentation I might help in adding updated documentation

[2016-02-05 22:39] sachinpali146 opened #342 "Support Missing for Multiple date format patterns"
Support is missing for narrow name quarter pattern, short name week day pattern and almost all types of patterns for period.

[Date Field  Symbol Table](http://unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table)

Steps to reproduce:

**Actual Result:**

Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "/root/babel/babel/dates.py", line 692, in format_da

[2016-02-08 08:18] #250 closed

[2016-02-08 08:55] #287 closed

[2016-02-08 19:57] akx commented on #82
@sudheesh001 Update is another step of the message process (it roughly goes "extract", "update", "compile").

I think OP @rjollos would like to be able to simply set a header comment for new extractions, i.e.

[code]

or the sort. Did I understand correctly?

[2016-02-10 03:55] rjollos commented on #82
@akx I may have had in mind to specify `header_comment` as an option in the `[extract_messages]` section of `setup.cfg`. Is that equivalent to specifying an option to `pybabel extract`?

I'm not extremely familiar with the Babel code in the Trac project, but nowhere do we instantiate a `Catalog` object directly, so I can't see how it's possible to set `header_comment`.

[2016-02-10 12:27] akx commented on #280
@zackargyle If you're around, would you care to do a bit of code review on #332? :)

[2016-02-10 12:28] akx commented on #329
@everyonesdesign If you're around, could you do code review on #332? :)

[2016-02-10 13:04] everyonesdesign commented on #329
@akx
I'm not so good at Python, so I looked mostly at the tests changes in the MR. I don't see tests for the recursive template strings parse trick you mentioned in [your comment](https://github.com/python-babel/babel/issues/329#issuecomment-171595726). Is it planned to be implemented?

Anyway, new usecases of the translations in tests look really good, thanks for that great job.

[2016-02-10 16:29] jun66j5 commented on #82
After the following patch, it would allow to be passed via `header_comment` of `[extract_messages]` section in setup.cfg.

[code]

Example of setup.cfg:
[code]

[2016-02-10 18:22] akx commented on #329
@everyonesdesign Yes, that support is not (yet) implemented; it could be done as further development just to get some template string support in. :)

[2016-02-10 23:28] jtwang opened #344 "Allow overriding of CLDR"
This encompasses a few different ideas:
- Allow overriding of existing values in the CLDR
- Allow insertion of new elements in CLDR XML
- Allow addition of xml files for new locales

I don't know how common this is for the world-at-large, but we require the ability to tweak things such as dates/times and currencies. We don't necessarily want to wait for the Unicode -> CLDR -> babel chain to catch

[2016-02-10 23:58] jtwang commented on #344
The way we implemented this feature is as follows:
- in the cldr/ directory, we created a directory called cldr/custom/
- this directory mirrors cldr/common/
- for every override that was required, we'd add the XML file in the appropriate subdirectory, with the appropriate name. The contents would be an XML tree that mirrors the CLDR, containing only the branch whose leaf element we wanted to chan

[2016-02-11 18:45] jtwang commented on #111
Opened :) https://github.com/python-babel/babel/issues/344

[2016-02-12 17:01] akx commented on #344
Thanks for the extensive overview of how you guys do things!

My first gut feeling is that requiring LDML XMLen for overrides is Not A Good Idea, mostly owing to the overhead required in parsing XML and so on -- for good or for worse, it'd mean moving the CLDR importer into the core library.

Even if our Python-native format is a moving target, I don't think it has had significant overhauls in a l

[2016-02-12 17:24] akx commented on #82
@jun66j5 That patch looks good! (And would allow `--header-comment=` as a side effect.)

Care to make a PR out of it, with a test case included? :)

[2016-02-12 18:55] jtwang commented on #344
That was actually more-or-less our approach before we forked Babel and ended up with almost 1000 lines of overrides.  D:

Mostly due to new datetime skeletons and currency symbol overrides. Protip: heavily encourage your design team to stick to a small set of (supported) date time display formats.

Anyhow, we decided to take the XML approach for a couple of reasons:
- it let us take advantage of f

[2016-02-12 19:12] akx commented on #344
Writing an utility to convert your patch XMLen to Python patch statements doesn't sound like an impossible approach, really. (As a matter of fact, I was thinking a "generic" patcher using yaml/toml: `currencies.PHP.symbol = "₱"` or something...)

Maybe now that we have actual support for datetime skellingtons, you wouldn't need 1000 lines of overrides? :)

Also, re the fallbacks -- if the signatur

[2016-02-13 11:00] srisankethu opened #345 "Correct link in Contributing.md"
The link to Writing Good Commits is a deadend http://coala.readthedocs.org/en/latest/Getting_Involved/Writing_Good_Commits/ . Change it to http://coala.readthedocs.org/en/latest/Getting_Involved/Writing_Good_Commits.html

[2016-02-13 17:11] #345 closed

[2016-02-16 03:40] bfordham-ubnt opened #350 "format_datetime using 'S...S' format is incorrect"
When using a format string for format_datetime or format_time using microseconds 'S...', the displayed results are **always** incorrect if the datetime's microseconds has less than 5 digits.

[code]

in babel.dates
[code]
should be something like

[code]

[2016-02-18 04:03] sudheesh001 commented on #261
@sils1297 @etanol Is this still up for grabs ? I am wondering, why can't we use

`git shortlog -s -n` that'll give the right result that we're expecting ? It gives a neat well aligned text content too, for babel it shows.

[code]

[2016-02-18 09:59] sils1297 commented on #331
Hi, this is fixed now, thanks for reporting!

[2016-02-18 09:59] #331 closed

[2016-02-21 11:02] lelit commented on #82
I know it complicates the thing, but but would be nice to have a way to preserve previous bits of information. Currently the update process rewrites the whole header, in particular the last line with "FIRST AUTHOR...", effectively discarding both the original translator and the year.
i'm going to use a brute force fix using `sed` and `git` to restore that, but it's kind of a waste...

[2016-02-21 13:26] akx commented on #82
@lelit: That sounds sensible. Care to create another issue and describe the workflow you'd like regarding all this?

[2016-02-21 13:58] akx commented on #350
@bfordham-ubnt Thanks for the bug report! Since you already have the relevant patch (I took the liberty of adding the proper markup around it) in the issue here, would you be interested in writing a pull request too? If you don't have the time or inclination, it's fine too; just say so, and someone'll pick this up eventually. :)

[2016-02-21 15:35] lelit opened #352 "`babel update` should not rewrite the catalog's comment header"
Currently when `babel` updates the `.po` files it rewrites the catalog's header, with the result that some bits of information is thrown away: that header contains both a _copyright_ and _first author_, and both may be precious data that should not be clobbered. Some project may prefer keeping the whole series of copyright years (i.e. `Copyright © 1999, 2005-2015 by me`) instead of just the curren

[2016-02-21 21:51] iamshubh22 commented on #350
@bfordham-ubnt I would want to work on this.

[2016-02-22 07:41] akx commented on #350
@iamshubh22 Go right ahead! :)

[2016-02-22 07:44] akx commented on #350
Marking as in progress for @iamshubh22. (I'm unable to set @iamshubh22 as the assignee for the issue,  but anyway.)

[2016-02-28 09:01] yash14123 commented on #155
On it.

[2016-02-28 09:01] yash14123 commented on #128
On it .

[2016-02-29 03:14] srisankethu opened #356 "docs/dates.rst: Line length exceeding 80 chars"

[2016-02-29 12:58] #356 closed

[2016-02-29 16:50] #350 closed

[2016-03-06 18:28] saurabhiiit opened #363 "docs/numbers.rst: Line length exceeding 80 chars"
Fixes https://github.com/python-babel/babel/issues/363

[2016-03-06 18:46] #363 closed

[2016-03-06 19:01] akx commented on #363
@saurabhiiit: for future reference, you don't need to create issues for "obvious" stuff like this; the PR is enough. :)

Thanks for the fix though!

[2016-03-06 19:03] saurabhiiit commented on #363
Sure I will take care of that

[2016-03-09 19:30] #148 closed

[2016-03-09 19:30] #280 closed

[2016-03-23 10:04] lelit commented on #352
I put the following snippet in my makefiles as a quick&dirty workaround:

[code]

[2016-03-30 14:38] akx opened #370 "Test fails in daylight saving time TZs"
`test_get_timezone_name()`:

[code]

I think this is a LOCALTZ bug (since LOCALTZ is janky at best), but can't really be sure...

Note: should probably see if this is a regression introduced in 7800e547ed1710b24ee5679994cee6055c9c5698

[2016-04-05 07:56] ykshatroff opened #372 "Wrong plural forms for Czech and Slovak localizations"
The plural forms returned by `babel.messages.plurals.get_plural` for Czech `cs` and Slovak `sk` locales are wrong.
Looking at the list of plural forms at e.g. https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_and_Plurals, we can see that Czech and Slovak languages use Plural rule #*8*, but `get_plural`, and hence `babel.messages.Catalog.plural_forms` property give us the s

[2016-04-06 19:12] aandis commented on #90
+1 from https://github.com/gratipay/gratipay.com/issues/3966

[2016-04-07 07:56] etanol commented on #90
Allright fellows, I think I know how to solve this.

I've reached the conclusion that the most versatile solution to this problem is to add a new optional parameter to `format_decimal` and `format_currency` to be filled with a `decimal.Context` instance.

While remaining backwards compatible, this solution will allow full control on decimal number operations.  That means that not only users will b

[2016-04-07 21:04] sils opened #375 "Nondeterministic failing tests"
https://travis-ci.org/python-babel/babel/jobs/121530453

That's a bug in the testsuite.

[2016-04-07 21:04] jtwang opened #376 "Convert README to .rst"
To quote @sils1297

[2016-04-07 21:10] sils1297 opened #377 "CI/Appveyor: Do not build against all versions"
We're doing that on linux already, on windows we should only test 32 bit and 64 bit windows compatability, assuming that the version differences are the same. I think that's very sane and if we don't do that development will be horrible if there are a few more PRs.

[2016-04-07 21:11] sils1297 commented on #377
same is true for mac builds btw. they're horribly slow, no need to do them that for all versions which are essentially the same as on linux

[2016-04-07 22:48] jun66j5 opened #378 "KeyError raised from format_time() with zh_TW on Babel 2.3.1"
(Originally, reported in https://trac.edgewall.org/ticket/12445)
This issue doesn't occur on Babel 2.2.0.
[code]
I guess that `format_period()` should pass `context='format'` to `get_period_names()`.
[code]

[2016-04-08 05:13] akx commented on #375
All of the catalog tests may fail nondeterministically, yeah.

[2016-04-08 05:20] jtwang commented on #378
Thanks for the awesome details! It really helped a lot. :)

Anyhow, this was probably introduced with the day period API change.

Prior to this change, it looks like `Locale.periods` would fold all `dayPeriodContext`s together that had `dayPeriodWidth`. Now we separate the contexts.

So, for zh_TW, if we look at zh_Hant.xml's gregorian calendar settings, we can see why it broke:
- format + wide ha

[2016-04-08 06:09] akx commented on #378
@jun66j5: Thanks for the bug report and sorry for the inconvenience :disappointed: However I think I have a fix for this in #379 :grin:

Just to verify though: `下午12:34:56` ('\u4e0b\u534812:34:56') is the expected formatting? (That's what Babel output before the day period overhaul.)

---

@jtwang: I think one piece of the puzzle that you're missing with your sleuthing there (and thanks for the po

[2016-04-08 06:36] akx commented on #377
Regarding AppVeyor, I wonder if Python would run under WINE...

[2016-04-08 07:38] jun66j5 commented on #378
Okay to me.

However, I think it would be good to check with order of `wide`, `abbreviated`, `narrow`. (`narrow` is shortest)
[code]

According to http://unicode.org/cldr/trac/ticket/9017, that issue is fixed in CLDR Release 29.

[2016-04-08 07:44] #378 closed

[2016-04-08 07:52] akx commented on #378
@jun66j5 That happens to be what the patch does in any case, so yay. :)

Please hold for 2.3.2, to be released Very Soon Now :)

[2016-04-08 07:59] akx opened #381 "Process: Document release process"
We should document how to roll releases and preferably set up some sort of automation.

Via Gitter:

[2016-04-08 08:02] akx commented on #372
Thanks for the bug report and the PR!

We should probably ensure that all of those plural rules in the file are up to date, esp. as there's that damning comment

[code]

in there!

[2016-04-08 08:02] akx commented on #323
@datoug Still experiencing this problem? :)

[2016-04-08 08:03] sils1297 commented on #381
There's a release script but I don't trust it FWIW.

[2016-04-08 08:04] akx commented on #381
Would probably be a good idea to get rid of other vestigial bits (such as `upload-docs` in the makefile, etc) while figuring this out.

[2016-04-08 08:19] ykshatroff commented on #372
Actually I was thinking about replacing this PLURALS dict with a
function that derives plural forms directly from the corresponding
babel.plural.PluralRule. But this is a little too much for the start,
not suitable for a hotfix. Still I'd probably take this job if there's
nobody more eager.

08.04.2016 11:02, Aarni Koskela writes:

--
Regards,
Yuri K. Shatroff

[2016-04-08 09:10] #376 closed

[2016-04-08 09:10] #377 closed

[2016-04-08 09:29] akx commented on #113
This looks like it was fixed by https://github.com/python-babel/babel/commit/a42ac1bbae0b9dbc618e8a83b4d1315732f402f5 .

In addition, #304 would improve this situation further.

Closing this as fixed, nevertheless :)

[2016-04-08 09:29] #113 closed

[2016-04-11 06:09] ajaeger opened #384 "Babel 2.3.2 ignores ungettext_lazy"
With OpenStack Horizon, I noticed that the extraction of strings suddenly skips a lot of strings.

Just compare file sizes:
-rw-r--r-- 1 aj users 707 Apr 11 08:01 django232.pot
-rw-r--r-- 1 aj users 911 Apr 11 08:00 django2.pot

to reproduce:

1) Unzip the attached zip file
2) Run "pybabel extract  -F babel-django.cfg --add-comments Translators: -o  django232.pot  -k gettext_noop -k gettext_lazy -

[2016-04-11 06:12] ajaeger commented on #384
Note pgettext_lazy strings have the same problem.

Just add somewhere:

pgettext_lazy('Default style theme', 'Default')

[2016-04-11 09:56] jcristovao opened #385 "Strange new syntax for update --no-fuzzy-matching"
Hi,

    pybabel update --help

    -N NO_FUZZY_MATCHING, --no-fuzzy-matching=NO_FUZZY_MATCHING
                        do not use fuzzy matching

Is this change of syntax intended? Shouldn't it be just `--no-fuzzy-matching`, without the equals?

This was using version 2.3.2
Tks

[2016-04-11 10:03] akx commented on #384
Would doing

[code]

work as a workaround? I.e. passing the keywords in as the space-separated string the command description mentions, instead of passing them as separate arguments.

I agree this is a regression though; it definitely makes sense for `-k` to allow multiple repetitions.

[2016-04-11 10:05] ajaeger commented on #384
Aarni, yes, that works and we can easily change it.

thanks,
Andreas

[2016-04-11 10:33] akx commented on #370
The same error also manifests on my OSX box.

[2016-04-11 10:54] akx commented on #385
Hi @jcristovao!

This is indeed a regression -- sorry about that! PR #386 will fix this.

[2016-04-11 12:25] ajaeger commented on #384
Note that Babel 2.2.0 does not like the new syntax:

  File "/home/aj/Software/vcs/OpenStack/openstack/horizon/venv/lib/python2.7/site-packages/babel/messages/frontend.py", line 1241, in parse_keywords
    funcname, indices = string.split(':')
ValueError: too many values to unpack

No real problem, just wanted to point out that multiple values is a new feature of 2.3.

Andreas

[2016-04-11 19:32] akx commented on #384
@ajaeger Yeah, that's entirely possible. Thanks for the note though :)

Versions < 2.3.0 had duplicate code for two different flavors of CLI utilities (distutils and standalone), and they probably did things in subtly different ways. #311 was the PR that removed the duplication -- and inadvertently also introduced this bug, #385 and #383.

[2016-04-12 06:31] #384 closed

[2016-04-12 06:31] #385 closed

[2016-04-13 07:06] ajaeger opened #388 "2.3.3 distutils extract_messages misparses --keywords"
We run in OpenStack to extract only the "_LW" keyword the following:

 python setup.py extract_messages --no-default-keywords \
            --keyword _LW \
            --add-comments Translators: \
            --input-dirs ${modulename} \
            --output-file ${POT}

With babel 2.3.3 the --no-default-keywords has no effect, the files contain far too much content.

[2016-04-13 07:18] ajaeger commented on #388
To reproduce:
git clone git.openstack.org/openstack/cinder
cd cinder
python setup.py  extract_messages --no-default-keywords --keyword _LW --input-dirs cinder --output-file test233.pot

[2016-04-13 07:18] ajaeger commented on #388
Sorry, couldn't come up with a self contained test quickly.

[2016-04-13 07:20] akx commented on #388
@ajaeger: Can you see if it has an effect if you run via `pybabel` and not via distutils commands?

[2016-04-13 07:20] ajaeger commented on #388
For smaller testcase:
$ mkdir test
$ cp cinder/service.py test/
$ python setup.py extract_messages --no-default-keywords --keyword _LW --input-dirs test --output-file test233.pot

Note that it does not include the _LW strings at all, only the default _

[2016-04-13 07:22] ajaeger commented on #388
@akx
pybabel extract --no-default-keywords -k '_LW' test -o test233.pot

Works fine for me, the content is as expected. Only _LW is extracted

[2016-04-13 07:26] akx commented on #388
@ajaeger Okiedoke, thanks.

I'd like to take this moment to point out that distutils' command mangling code is byzantine and strange, especially if one is used to modernities like click, argparse or even optparse... :)

[2016-04-13 07:28] ajaeger commented on #388
@akx, just tested that Babel 2.3.2 handles this case fine.

[2016-04-13 07:29] ajaeger commented on #388
@akx, thanks for looking into this nevertheless!

[2016-04-13 07:33] akx commented on #388
Ah, the bug is actually not in `--no-default-keywords` being disrespected, it's in how the keyword string gets parsed.

I instrumented the extraction function to parse the args and die, and I get

[code]

[2016-04-13 07:35] ajaeger commented on #388
How did it work in 2.3.2 and earlier?

[2016-04-13 07:39] akx commented on #388
2.3.3 changed that particular parsing code to do things differently to have the `pybabel` commands work correctly with multiple keywords (your issue #384), but unfortunately broke support for `distutils` arguments. In short

* versions 2.3.0..2.3.2 break multiple `-k`/`--keywords` arguments for `pybabel extract`
* version 2.3.3 breaks the single `-k`/`--keywords` argument accepted by distutils `ex

[2016-04-13 07:49] akx commented on #388
And really, there's a bit of a problem in that Distutils-based commands only support a single repetition of the same option, which is why you have to separate some options with spaces, some with commas, etc., for multiple options; the Optparse-based standalone pybabel command allows repetitions of the same option for the same effect.

[2016-04-14 08:55] akx commented on #388
@ajaeger: Would you be able to test that all of Openstack's usecases (since apparently some of your processes use `pybabel` as evident from #384 and others use the distutils-based commands as evident here) work with the code in https://github.com/python-babel/babel/pull/389?

[2016-04-14 13:29] ajaeger commented on #388
@akx I can test the common two use cases, just tell me if you have something to test.

I've wrote also a patch to use only pybabel in OpenStack infra scripts - one issue less to test. Let's see what the reviewers think.

[2016-04-14 19:57] paxswill opened #390 "pybabel extract forgot the -s CLI flag in version 2.3"
# Overview Description
The -s flag for pybable extract was a shorthand form of --strip-comments. As part of #311 the shorthand form was removed.

# Steps to Reproduce

1. Try to run `pybabel extract -s`

# Actual Results

    $ pybabel extract -s
    Usage: pybabel extract [options] <input-paths>

    pybabel: error: no such option: -s

# Expected Results

    $ pybabel extract -s
    Usage: pybab

[2016-04-15 14:13] ajaeger commented on #388
Sorry, misread your notice, @akx. You already told me what to test. I did some testing and it looks fine to me. Thanks!

[2016-04-15 15:21] aronbierbaum opened #391 "Fail to import latest CLDR data"
While using babel-2.3.2 I tried to download and import the latest CLDR data I get the following KeyError while processing `bs.xml`. It appears that the issue is caused by the fact that the `cldr\core-28\common\main\bs.xml` file contains a comment above the `<eraNames>` node.

[code]

[code]

I believe a simple fix would be to change the following:

[code]

to

[code]

[2016-04-15 18:57] jtwang commented on #391
I can reproduce this error if I run `make clean-cldr && make import-cldr` in an env with lxml (in Python 2.6, not sure if that makes a difference).
The error does not occur in an env without lxml (ie script uses xml instead).

Error occurs with 5aa21f9 (2.3)
Error does not occur with 327bcdf (2.2)

Changing the XPath does fix the script (diff below), but I also got really strange test failures. :/

[2016-04-15 20:52] aronbierbaum commented on #391
I'm also using lxml, I should have included that in my original message. I have just started working with Babel so I have not had it work successfully before. Please let me know if you want be to do any additional testing.

[2016-04-17 15:29] akx commented on #390
Thank you for the excellent bug report, @paxswill!

I added a fix (a rather short one :) ) for this to #389, and took a look at all the other parameters that the CLI might have forgotten (and it turns out it had).

Either way, we should have a fix for this in soon, and hopefully a bugfix release rolled out soon after.

[2016-04-18 21:35] jtwang commented on #391
@akx has given his blessing to revert 9b5c7f3678167f03ec39fd1c25f98d0e0d41621f, which introduced lxml as an optimization.

@aronbierbaum - if you wouldn't mind testing after this is pushed, that'd be awesome! For now, nothing needed, thanks for asking. <3

[2016-04-19 05:10] jtwang commented on #370
I see it too.

[code]

[2016-04-19 17:24] #391 closed

[2016-04-19 19:05] #388 closed

[2016-04-19 19:05] #390 closed

[2016-04-25 09:12] nphilipp opened #395 "Babel-2.3.4 not available from deterministic download URL"
Hi, the latest release 2.3.4 isn't available from https://pypi.python.org/packages/source/B/Babel/Babel-2.3.4.tar.gz like previous versions---to download it I have to go to https://pypi.python.org/pypi/Babel/2.3.4 and manually download from the seemingly random URL linked from there: https://pypi.python.org/packages/6e/96/ba2a2462ed25ca0e651fb7b66e7080f5315f91425a07ea5b34d7c870c114/Babel-2.3.4.tar

[2016-04-25 09:37] akx commented on #395
This is a change that has occurred on PyPI, and it's not something we can touch.

See the Warehouse commit: https://github.com/pypa/warehouse/commit/43e9a7bb0c1cf3c98bc32221355c49bbe5015c68

However, the URL is not random -- the URL you pasted is and will be the canonical PyPI tarball URL for 2.3.4.

[2016-04-25 18:51] akx commented on #395
Closing this as resolved.

So anyway, it seems future PyPI file URLs will always be hash-based, in case that affects your scripts/infrastructure/whatnot. :)

[2016-04-25 18:51] #395 closed

[2016-04-25 18:55] akx commented on #263
The wiki page approach seems to work fine. Closing this as resolved with that method :)

[2016-04-25 18:55] #263 closed

[2016-04-25 21:15] jtwang opened #397 "Currency symbol parsing code should ignore alternate symbols"
CLDR defines several formats for currency symbols (narrow, variant), Babel currently exposes the main symbol only. Eg. In es.xml, 'KMF' is 'main' symbol for currency KMF.

[code]

However, the code that selects and processes this element does not exclude the alternate forms, so in theory it's possible for an alternate symbol to be read and set as the symbol instead. This is does not actually manif

[2016-04-26 08:17] nphilipp commented on #395
What I meant is, I can't know the URL of the tarball without visiting https://pypi.python.org/pypi/Babel  and scraping it from there -- it's not deterministic and that makes it hard to use in e.g. RPM spec files. Anyway, it seems the upcoming PyPi 2.0 will have redirects from the old-style URLs, as can be tested by downloading the tarball from the test site: https://pypi.io/packages/source/B/Babel

[2016-04-26 12:54] vlna opened #398 "Link to non-existing COPYING file"
# Overview Description

Files

[code]

contain information

[code]

But repository nor source tarball (from PyPi) does not contain `COPYING`
# Additional Information

Files listed above still contain Edgewall Software copyright notice too and probably were not modified with Edgewall -> Babel team copyright transfer.

[2016-04-28 14:50] remko opened #400 "Message extraction extracts map keys"
Extracting strings from the following piece of code

    gettext(a["b"])

will extract `"b"` as a translatable string, whereas I wasn't expecting anything to be extracted.

[2016-05-03 17:36] rlam3 opened #401 "Hang when extracting messages"
PYBABEL HANGS ...? HOW TO DEBUG?

The following commpand is:
[code]

The processes has been hanging for a while and I don't know how to debug... Is there an option for this?

Even when i remove everything from the file or comment out the whole .py file that it is hanging on... the process is still hanging...

[2016-05-03 18:53] rlam3 commented on #401
So I looked into pybabel's code and it looks like it is hanging on this particiular loop in frontend.py

After the catalog.add method it looks back and it hangs... Please let me know what we can do the relieve of this problem? Does there need to be a break some where here?

[code]

[2016-05-03 19:05] akx commented on #401
I don't think it's actually _hanging_ -- maybe add `print(filename, lineno, message, comments, context)` within that loop's body to see if it somehow manages to find an infinite amount of messages or something?

[2016-05-03 19:12] rlam3 commented on #401
@akx How do I find if there is infinite amount of messages?

From what I've been trying around... it extracts fine as an individual module and file.. Its just doesn't like the fact that it is grouped with other modules together upon extraction...?

[code]

[2016-05-03 21:39] rlam3 commented on #401
I think it is hanging/running in the background for such a long time because it is looking at all the subdirectories of node_modules... is there a way to prevent babel from subdirectories? I've tried using the following but it seems like it is still going through all of them.

[code]

[2016-05-03 22:21] rlam3 commented on #124
Is there a way for us to ignore the entire contrib folder but at the same time have [python: **.py] not look there either? If I have the following tree:

-app
--mod1
--static
----js
----css
----node_modules

Id like to ignore the entire node_modules directory and not have

python:**.py check that directory. Is there a way for this?

The closest I got was:
[code]

However jinja2 and python are alwa

[2016-05-03 22:27] rlam3 commented on #401
How should one be able to strictly ignore folders? OR How should one be able to specify which folders to look into?

[ignore: static/**.*]

When ignore happens.. Why does another method able to look into the ignored pattern? This doesn't make sense...

This is not an ideal workaround...:
[code]

Reference:
https://github.com/python-babel/babel/issues/124

[2016-05-04 11:17] akx commented on #401
Adding `ignore` stanzas won't unfortunately make Babel not even recurse into those directories; checking file patterns against the extractor configuration is done separately.

For a quick patch in your local installation of Babel, you can add `or subdir == "node_modules"` to [the `if` statement in this segment here](https://github.com/python-babel/babel/blob/8b5e5b7131ef6cc49f7ad7fa27aa61e8b3a328f

[2016-05-04 11:17] akx commented on #401
I removed the bug label because this isn't an actual bug in Babel.

[2016-05-04 22:44] rlam3 commented on #401
@akx Thanks for the reply akx but could you please go more in depth on what you mean b subdir? Could you please show me an example of a babel.cfg using it? Thanks.

[2016-05-05 07:47] akx commented on #401
@rlam3

If you patch the linked segment,

[code]
to read
[code]

Babel will not even recurse into `node_modules` directories.

There is currently no way of doing this via `babel.cfg` or command line parameters, but it's definitely something to put on the roadmap.

[2016-05-05 07:50] akx opened #402 "Add `--ignore-dirs` or similar to `extract`"
See #53, #253, #401, #124.

Implementation idea:
- Add `directory_filter` callable arg to `extract_from_dir()`; this would be used instead of the hard-coded `if subdir.startswith('.') or subdir.startswith('_'):`
- Generate a directory filter callable from an `--ignore-dirs` argument, if passed in the CLI

[2016-05-12 12:01] akx opened #403 "Extract: docstrings lie"
* `messages.extract()`:
  * Docs say: *This function returns tuples of the form ``(lineno, message, comments)``.*
  * Yields 4-tuples `(lineno, messages, comments, context)`
* `messages.extract_from_file()`:
  * Docs say: *This function returns a list of tuples of the form ``(lineno, funcname, message)``.*
  * Returns a list of 4-tuples `(lineno, messages, comments, context)` (from `extract`)
* `m

[2016-05-17 05:41] akx opened #404 "Upgrade to CLDR 29"
Here we go again...

http://blog.unicode.org/2016/03/cldr-version-29-released.html
http://www.unicode.org/reports/tr35/tr35-43/tr35.html

[2016-05-20 17:01] BlackYoup commented on #370
Also happens on Linux:

[code]

[2016-05-20 18:04] akx commented on #370
It's a regular timezone party!

[2016-05-20 18:05] akx commented on #370
Thanks for the additional data point, @BlackYoup. :)

[2016-05-20 18:36] jtwang opened #407 "NumberPattern.pattern does not preserve original pattern"
It basically keeps the positive format only.

[code]

Ideally, `pattern` would be `'¤#,##0.00;(¤#,##0.00)'`

This makes it difficult to copy/recreate an existing NumberPattern object.

Also, `repr()` uses `self.pattern`, so `repr(parse_pattern(u'¤#,##0.00;(¤#,##0.00)'))` returns the same thing as `repr(parse_pattern(u'¤#,##0.00'))`, which is misleading.

[2016-05-23 15:14] JulianGarciaCastillo opened #408 "JavaScript Translation files"
Hello! First, thanks for Babel! I've succesfully translated a website (jinja2 and py files). But now I'm stuck trying to translate javascript files.
I only get to extract the strings, but I don't know how to proceed because I can't find any documentation for that matter.
I'm getting and obvious `gettext undefined` because I don't have any .js to manage that.
Any help please?
Thank you so much in a

[2016-05-23 15:19] JulianGarciaCastillo opened #409 "JavaScript Translation files"
Hello! First, thanks for Babel! I've succesfully translated a website (jinja2 and py files). But now I'm stuck trying to translate javascript files.
I only get to extract the strings, but I don't know how to proceed because I can't find any documentation for that matter.
I'm getting and obvious `gettext undefined` because I don't have any .js to manage that.
Any help please?
Thank you so much in a

[2016-05-24 04:47] sublee commented on #90
@etanol Are you still a work in progress?

[2016-05-24 18:38] #409 closed

[2016-05-24 18:39] #408 closed

[2016-05-25 08:00] akx commented on #409
Hi @JulianGarciaCastillo, did you manage to get your JavaScript translated? :)

[2016-05-25 10:50] JulianGarciaCastillo commented on #409
Yes! Thank you for asking. I needed the babel.js file
On May 25, 2016 10:00 AM, "Aarni Koskela" <notifications@github.com> wrote:

[2016-06-01 10:56] OrangeDog opened #413 "Support explicitly unknown currency"
As XXX is specifically reserved to represent no currency

    babel.numbers.format_currency(1.5, 'XXX', locale='en')

should produce `¤1.50`, not `XXX1.50`.

[2016-06-01 16:37] jtwang commented on #378
Thanks for tackling this! I expected there to be waaaay more changes, it's awesome that there aren't! I am kind of bummed that zh_Hant is still missing am/pm from it's abbreviated day period definitions. :P

[2016-06-06 18:15] akx commented on #407
Fixed in #414 :)

[2016-06-06 18:15] #407 closed

[2016-06-07 01:33] asottile opened #415 "`extract` will return literals that are part of an expression"
[code]

Though those are both incorrect usages of gettext, neither should result in `'foo'` being picked up as a localized string.

However:

[code]

[2016-06-07 01:37] asottile commented on #415
fwiw, xgettext also picks up the first one but not the second one -- I still think picking up the first one is bug as well :)

[code]

[2016-06-08 22:16] gsakkis opened #416 "Regression on javascript extraction on v2.3"
It seems like after upgrading to 2.3, some strings in minified javascript files are not extracted anymore. Is this a known bug?

[2016-06-09 09:15] sublee opened #417 "Don't remove duplicated comment lines."
When we extract messages, the long comment lines will be wrapped in 76 columns.  While this behavior, some common words can be duplicated on multiple lines.  But when we read a catalog, duplicated comment lines are removed automatically.  So the catalog before writing and after reading are different for each other.  I think that is a bug.

For example, if we extract `#. KEY: foo.bar.baz...<long wo

[2016-06-09 12:34] akx commented on #416
Not a bug I'm aware of -- sorry!

Do you have an example of a JavaScript file which fails extraction (or preferably a minimal test case that reproduces the problem), and what the expected output is?

I have an inkling this is related to #310 and friends.

[2016-06-09 15:29] gsakkis commented on #416
I don't have a minimal test but I uploaded the original [here](https://www.dropbox.com/s/ip6oyp7rn8l41ax/stylect.js?dl=0), along with the output for [2.2.0](https://www.dropbox.com/s/kfkexsur5xvnpsv/messages-2.2.0.po?dl=0) and [2.3.4](https://www.dropbox.com/s/d4sgpodr9ex1p03/messages-2.3.4.po?dl=0). As you can see some (but not all) strings are missing from the latter.

[2016-06-17 18:00] pavel-francirek opened #419 "Wrong year in format_date for date in first week of year"
How to duplicate:

[code]

Package python-flask-babel 0.9-2.1 in Ubuntu 16.04 (older version are affected too)

[2016-06-17 19:16] jun66j5 commented on #419
Not a bug. Try `yyyy` (lower case) instead of `YYYY`.

According to http://babel.pocoo.org/en/latest/dates.html#date-fields:

 - `y`: Replaced by the year. Normally the length specifies the padding, but for two letters it also specifies the maximum length.
 - `Y`: Same as y but uses the ISO year-week calendar.

[code]

[2016-06-17 19:27] akx commented on #419
@jun66j5 Cheers for the triaging. I think this could use clarification (with an example -- perhaps exactly the example you have above) in the docs though :)

[2016-06-17 20:28] pavel-francirek commented on #419
Oh, I see. Thank you. But I agree that it should be mentioned in documentation. Especially if there is no clear connection between year and week number.

[2016-06-22 07:05] akx opened #421 "test_extract_operands never fails"
py.test warns me about this:

[code]

Just removing the parens (and rewrapping the statement) makes the test fail though, so it needs some work.

[2016-06-22 22:07] kruton opened #422 "Language tag is not read from .po header"
When you read in a .po file that already has the "Language" header specified, writing it out again will erase the Language header. I sent pull request #420 to fix this.

[2016-06-24 12:49] remko opened #423 "Keywords in JSX aren't handled properly"
I have several issues when trying to use Babel to extract strings from JSX sources. 2 small examples below:

Extracting strings from the following snippet with `-k __`
[code]
only extracts `foo`, and misses `bar`.

When I remove some newlines from the above snippet:
[code]
nothing is extracted anymore.

[2016-06-25 11:47] georgschoelly commented on #423
I believe this got fixed in b5e0ad81340d339314ae57d365186f0d9d4ce961, have you tried with the current HEAD?

[2016-07-01 10:22] sublee opened #426 "Python message extractor doesn't respect unicode_literals in __future__"
`extract_python` of Babel doesn't respect `from __future__ import unicode_literals` in Python 2.x.  With the below example code:

[code]

We get this encoding error:

[code]

A workround is to use `u''` literals explicitly:

[code]

[2016-07-06 10:07] torfsen commented on #72
I think using the first string argument would be a real improvement and a useful heuristic. It's certainly not worse than the existing solution (which seems to just simply ignore the call) and probably a lot less work than extending the keyword-specification syntax.

Support for something like `ifPlural:2` can then be added later on (if it is required at all).

[2016-07-07 14:02] akx commented on #370
Oh, right, this was actually closed by #411.

[2016-07-07 14:02] #370 closed

[2016-07-07 18:30] #404 closed

[2016-07-07 19:26] stringtheory opened #428 "get_timezone_name returning '∅∅∅' (CLDR-'no inheritance marker') as timezone. Babel 2.3.4/Python 2.7.7"
`get_timezone_name` is returning `'∅∅∅'`  (3 empty set unicode characters) for several english locales, including `en_GB` and `en_IE`. The same results occur when using the `format_time` method. This only happens with the short format.

**Steps to Reproduce & Actual Results:**

[code]

**Expected Results:**

From the docs: "Note that short format is currently not supported for all timezones and al

[2016-07-08 17:59] #422 closed

[2016-07-08 18:03] #372 closed

[2016-07-08 18:04] akx opened #430 "Task: revise hard-coded plurals mapping"
The plurals mapping `babel/messages/plurals.py` could use an once-over, just to see we're up to date and up to spec.

https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_and_Plurals could be a decent reference.

Refs #373

[2016-07-08 18:09] akx commented on #27
Closed via #429 :)

[2016-07-08 18:09] #27 closed

[2016-07-08 19:24] #90 closed

[2016-07-09 09:51] #426 closed

[2016-07-10 11:41] ztane commented on #403
+1 I had to actually look into source code on how to write an extractor that properly returns context and plurals. Fix the pocoo docs as well.

[2016-07-14 22:20] johanndt opened #432 "babel.dates.parse_date() doesn't allow you to specify a format/pattern"
We've started using Babel recently but ran into an issue where `babel.dates.parse_date()` doesn't allow us to specify the format to use. It always uses the 'medium' format. And for some formats that fails. Eg. when using 'en_ZA', you can't parse a short format date.

Internally the first thing it does is call `get_date_format()` without being explicit about the format, thus the default  'medium' f

[2016-07-14 22:29] jtwang commented on #432
+1

We ran into this too and hacked around it and I never got around to logging an issue for it. ^_^

I like the approach of adding a kwarg to the existing `parse_date` fn. It nicely mirrors `format_date`.

[2016-07-15 07:47] johanndt commented on #432
@jtwang you should see our hackish workaround! Monkey patching get_date_format in the library with a partial to always return the format we want. :)

[2016-07-15 08:25] akx commented on #432
Since we're aiming for 3.0 next (at least that's in my plans :D) and API compatibility is not guaranteed, I think for symmetry/consistency `locale` should remain the last parameter, and `format` added before it.

[2016-07-15 08:26] akx commented on #432
Also, I believe people mostly use the `locale=...` kwarg form to pass the locale in to Babel anyway :)

[2016-07-15 09:12] johanndt commented on #432
Thanks @akx. So if we aim for 3.0 should the PR just be against master?

[2016-07-15 09:26] akx commented on #432
Sure, @johanndt :) And thanks in advance!

[2016-07-15 09:28] #430 closed

[2016-07-15 09:30] akx commented on #401
Closing -- #402 will serve as a proper fix for this behavior.

[2016-07-15 09:30] #401 closed

[2016-07-15 11:14] akx commented on #428
Thanks for the excellent bug report, @stringtheory! #433 has a fix for this.

[2016-07-15 11:22] akx commented on #413
Hey @OrangeDog, thanks for the bug report.

Can you explain why you think XXX should be replaced with the [currency sign](https://en.wikipedia.org/wiki/Currency_sign_(typography))?

Do other number formatting libraries do this? The other currency formatting routines I have at hand, i.e. the JavaScript ones, don't do this:

[code]

[2016-07-15 11:27] OrangeDog commented on #413
It seemed an obvious thing to do.
Both XXX and ¤ represent an unspecified/unknown currency.

[2016-07-15 11:50] akx commented on #129
Closing for now, then. :)

[2016-07-15 11:50] #129 closed

[2016-07-15 12:15] akx commented on #415
Ungh, I think fixing this will require one of the following:

* A dirty hack (lookahead/lookbehind in the token stream to make sure we're not in, or going to be in, an expression)
* Rewriting the extractor to use the AST module instead of the token stream (likely slower, though probably not by an awful lot). Also, I don't think it's much of an issue, but this would make parsing (more?) Python vers

[2016-07-15 13:33] rlam3 commented on #402
Looking forward to this patch to ignore certain directories/subdirectories.

[2016-07-15 13:34] akx commented on #400
Closing as a duplicate of #415 (as that has more discussion and examples). Thanks!

[2016-07-15 13:34] #400 closed

[2016-07-19 23:16] stringtheory commented on #428
Tks for fixing!

[2016-08-11 09:29] dmitriid commented on #71
Two years later the issue is still here. `pybabel 2.3.4`

According to the [docs](http://babel.pocoo.org/en/latest/messages.html):

However, babel (specifically, CLI) ignores any values in `extract_messages` and *only* extracts strings wrapped with `_()`

In my case:
`babel.cfg`:

[code]

Then in `app.js`:

[code]

Then run babel:

[code]

Result:

[code]

If you change `__` to `_`, strings are ex

[2016-08-11 09:40] dmitriid commented on #71
Ok. More weirdness.

Babel CLI ignores `babel.cfg`, but `--keywords` option is also weird.

`babel.cfg`

[code]

Babel CLI ignores this.

But run it with `--keywords`:

[code]

And here's the result. It extracted *both* `_` *and* `__`:

[code]

[2016-08-11 09:46] dmitriid commented on #71
@scop @akx @mbirtwell Alerting you to this old/weird issue :)

[2016-08-15 10:24] dmitriid commented on #296
Also see latest comments in #71

[2016-08-15 12:16] dmitriid opened #439 "pybabel extract behaviour"
On the heels of #71 and #296 I decdied to document some of the oddities I ecnountered when using pybabel CLI.

This is the test `dist/gettext.js` file I'm using

[code]

## 1. `pybabel extract` ignores `babel.cfg` (docs are incorrect?)

According to docs, `babel.cfg` should look like this:

[code]

Run:

[code]

It will only extract messages surrounded by `_()` (single underscore)

## 2. Ignores `

[2016-08-20 19:09] jwilk opened #441 "test_get_timezone_name fails in fixed-offset timezones"
# Overview Description

`test_get_timezone_name` seems to fail in fixed-offset timezones, such as `Etc/GMT-7`.
# Steps to Reproduce

[code]
# Additional Information

Tested with git master (5c02138363a0c0e1fbbfeccf2c6f5f731b6dee92), pytz==2016.6.1.

[2016-08-25 17:39] renzon opened #442 "Parsing time and date must be enhanced"
# Overview Description

parse_time can not handle missing day times or 12 hour clock as well.

Both parse_time and parse_date raise IndexError when date/time is not well format, making error handling hard
# Steps to Reproduce
1. All of above time should be parsed:

[code]
1. Try parsing invalid time: ('', 'a', 'aaa', '15', '15:')
2. Try parsing invalid date: ('', 'a', 'aaa', '15', '15/15/')
# Actu

[2016-08-26 07:23] heartsucker opened #444 "Flask jinja filter `assets` is incompatible with the `pybabel` command and fails to extract translations"
There's a chance I'm using this wrong, but I'm fairly certain this is a bug. If there is a better way to do this, it is certainly non-intuitive. (originally posted to https://github.com/python-babel/flask-babel/issues/108, but this is probably the right place).
# My setup

One `html` file called `index.html`. I extract with the command

[code]

The file `bable.cfg`

[code]

My env:

[code]
# What

[2016-09-01 11:13] Changaco commented on #35
I disagree. For example, how would the python extractor know whether the flag should be `python-format` or `python-brace-format` (#333)? It can only guess, and not any better than the `Message` class can.

`xgettext` has a `--flag` argument that's supposed to handle this ([doc](https://www.gnu.org/software/gettext/manual/html_node/xgettext-Invocation.html)). Calling `xgettext -o - --flag=_:1:pytho

[2016-09-01 14:05] sbi opened #445 "collated sorting"
I wonder whether babel should feature collated sorting. Sorting according to a locale's rules is a pretty common operation, besides translating and formatting things appropriately. CLDR apparently includes collation information, according to their website. Using PyICU sucks, it's essentially undocumented (well, PyICU's docs point to the official ICU documentation, which is... enterprisey, to put i

[2016-09-02 06:44] akx commented on #445
Have you seen https://github.com/jtauber/pyuca ?

[2016-09-02 07:00] sbi commented on #445
@akx I haven't. Sweet! That makes this issue pretty pointless... I'm sorry for not doing more research before!